@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: rgb(238, 255, 254);
}


::selection{
  color: #fff;
  background: #949696;
}

.foto{
  overflow: hidden;

  background-color: #ffffff;
  border: 3px solid #44c0babe;
  width: 125px;
  height: 125px;
  margin:0px auto;
}

.foto img{
  
  display: block;
  width: 100%;
  margin: auto;
}
.fotoPos{
  display: block;
  justify-content: center;
  width: 100%;
  
}
.container{
  margin: auto;
  height: 680px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0px 35px 0px 35px;
  box-shadow: 0 5px 18px -5px rgba(0, 0, 0, 0.726);
  overflow: hidden;
}
.container header{
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 3px 0;
  color: #eb145c;

}
.container p{
  width: auto;
 color: grey;
  font-size: 14px;


}
.container .form-outer{
  width: 100%;

}
.container .form-outer form{
  display: flex;
  width: 400%;
}

.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  color: rgb(53, 53, 53);
}
.form-outer form .page .field{
  width: 100%;
  height: 35px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-size: 14px;
  font-weight: 500;
}

.field{

  height: 100%;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}

.field select{
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  border: 1px solid #2bc4bc;
  font-weight: 500;
  font-size: 18px;
}

.field input{
 padding-left: 10px;
  padding-right: 15px;
  width: 100%;
  border-radius: 15px;
  border: none;
  border-bottom:1px solid #eb144a;
color: rgb(100, 100, 100);
  background-color: rgba(231, 229, 229, 0.863);
  font-weight: 500;
  font-size: 12px;
}
form .page .field select{
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border-radius: 15px;
  border: none;
  border-bottom:1px solid #eb144a;
color: rgb(100, 100, 100);
  background-color: rgba(231, 229, 229, 0.863);
  font-weight: 500;
  font-size: 12px;
}
#cambiar-foto img{
  margin-left: 140px;
  margin-top: -70px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 0px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;

}
#cambiar-foto img:hover{
opacity: .8;
transform: scale(1.1);
}

form .page .field button{
  margin-top: -18%;
  margin-right: 20px;
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #0fb4b9;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #079185;
  border-radius: 5px;
  border: 1px solid #02bdb3;
  color: #ffffff;
  transform: scale(1.1);
}

.primary-container{
  margin-top: -10px;
width: auto;
  display: flex;
  justify-content: space-between;
}

.primary-container1{
  margin-top: -46px;
width: auto;
  display: flex;
  justify-content: space-between;
}
.primary-container2{
  margin-top: -48px;
width: auto;
  display: flex;
  justify-content: space-between;
}
.texDir{
  margin-top: -48px;
  width: auto;
    display: flex;
    justify-content: space-between;
}
