  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}

.profile {
  width: 20%;
  height: 1024px;
}
.first-seccion {
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.image-profile {
  cursor: pointer;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #f0feff;
  height: 61%;
  width: 100%;
  /* align-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.principal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 125px;
}
.dash-information {
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-header {
  width: 100%;
  height: 60px;
  background: #94d2bd;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 47px;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
.wrapper-petypuntos {
  display: flex;
  align-items: center;
  width: 1087px;
  flex-direction: column;
  margin-left: 37px;
  margin-right: 33px;
}
.petypuntos-top {
  width: 1087px;
  height: 51px;
  background: #94d2bd;
  box-shadow: -2px 5px 4px -2px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0px 0px;
}
.tittle-petypuntos {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #264653;
  padding-left: 37px;
  /* margin-top: 50px; */
  /* padding-top: 16px; */
  display: flex;
  margin-top: 16px;
}
.petypuntos-bot {
  width: 1087px;
  height: 223px;
  background: #fef8e5;
  box-shadow: -2px 5px 4px -2px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.petyscore-img {
  display: flex;
  padding-top: 7px;
  padding-left: 12px;
}
.canjear-petypuntos {
  display: flex;
  flex-direction: column;
  /* display: contents; */
  justify-content: center;
  /* width: 200px; */
  align-items: center;
  width: 480px;
  gap: 36px;
  padding-right: 84px;
  margin-right: 8;
  margin-left: 34px;
  & button {
    background: #2a9d8f;
    color: white;
    width: 213px;
    height: 34px;
    left: 645px;
    top: 286px;
    border-radius: 3px;
  }
}
.petypuntos-uno {
  display: flex;
  width: 100%;
  margin-top: 11px;
}
.petypuntos-acumulados {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 50%;
  /* justify-content: flex-end; */
  align-items: center;
  margin-right: 34px;
}
.petypuntos-canjeados {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 50%;
  /* /* align-items: center; */
}
.acumulados {
  display: flex;
  align-items: center;

  & p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: #264653;
    padding-left: 10px;
  }
}
.petyscore {
  display: flex;
  align-items: center;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
  & p {
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #eb55c1;
  }
}

.resumen-petypuntos {
  width: 380px;
  margin-top: 46px;
  margin-right: 41px;
  display: flex;
  flex-direction: column;
}
.wrapper-resumen {
  margin-bottom: 14px;
}
.subtittle-petypuntos {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  margin-bottom: 17px;
  margin-top: 0;
}
.info-petypuntos {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  text-align: justify;
  letter-spacing: 0.015em;
  color: #414141;
}
.see-more {
  width: 77.53px;
  height: 24px;
  border-radius: 3px;
  background: #2a9d8f;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 14px;
  color: white;
}
.wrapper-pets {
  padding-top: 28px;
  & h1 {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.016em;
    color: #264653;
    margin: 0;
  }
}
.my-pets {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 11.83px;
}
.subwrapper-pets {
  display: grid;
  gap: 31px;
  grid-template-columns: auto auto auto;
}
.ballot-pets {
  width: 271px;
  height: 178px;
  background: #94d2bd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-pet {
  flex-direction: column;
  width: 138px;
  height: 159px;
  padding-left: 9px;
  padding-top: 5px;
  display: flex;
  padding-right: 12px;
  background: #fff1f1;
  border: 1px solid rgba(139, 164, 251, 0.22);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  column-fill: balance;
  justify-content: space-evenly;
  margin-left: 9px;
  & span {
    font-family: "Acme";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.016em;
    color: #264653;
  }
}
.info-pets {
  width: 112px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.info-text {
  flex-direction: column;
  display: flex;
  margin-bottom: 14px;
  gap: 17px;
  & span {
    font-family: "Acme";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.016em;
    color: #000000;
  }
}
.edit-pets {
  margin-left: 1px;
}
.pdf-pets {
  margin-left: 15px;
}
.add-pet {
  height: 105px;
  width: 105px;
  background: #94d2bd;
}

.header-activities {
  margin-bottom: 17px;
  margin-top: 27px;
  display: flex;
  /* width: 100%; */
  margin-left: 52px;
  width: 1100px;
}
.wrapper-activities {
  width: 1088px;
  height: 269px;
  background: #f3fae1;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  display: flex;
}
.colors {
  width: 100px;
  padding-top: 73.5px;
  display: flex;
  gap: 21.5px;
  flex-direction: column;
  align-items: center;
}
.color-yellow {
  width: 40px;
  height: 40px;
  background: #ffcc40;
  border-radius: 8px;
}
.color-turquese {
  width: 40px;
  height: 40px;
  background: #66c7fe;
  border-radius: 8px;
}
.color-skyblue {
  width: 40px;
  height: 40px;
  background: #3ee6fd;
  border-radius: 8px;
}
.info-activities {
  width: 988px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-left: 72px;
}
.scheme {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 29px;
  align-items: center;
  & span {
    width: 138px;
    height: 40px;
    font-family: "ABeeZee";
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.016em;
    color: #000000;
  }
}
.tittle-activities {
  margin: 0;
  font-family: "ABeeZee";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.016em;
  margin-bottom: 2.5px;
  color: #264653;
}
.footer {
  margin-top: 16px;
  width: 1177px;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}
.boton-modal{
  background-image: url("../../imagenes/perfilCliente/pencil.png");
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show{
  opacity: 2;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__container{
  margin: auto;
  width: 100%;
  height: 500px;
  max-width: 400px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition:var(--transition);

}



.top-form{
height: 60px; 
  width:100%;
  display: flex; /*Convertimos al menú en flexbox*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items:flex-start; /*con esto alineamos de manera vertical*/
    background-color: #57b8ace3;
}

.titulo-h2{
  max-width: 390px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  align-content: center;
  margin-left: 110px;
  display: inline-block;
  margin-top: -15px;

}
.tituloform{
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

#close-modal:hover{
background-color: #e70505ee;
color: #ffffff;
}
#close-modal{
margin-top: 8px;
margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  background: #df2a2ae3;
  height: 33px;
  width: 33px;
  cursor: pointer;

}

.cuadro_modal{
  
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgba (255,255,255,.2);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
  

}
/*inicio del formulario*/
.editheader{
  max-width: 390px;
 min-width: 190px;
 min-height: 190px;
 max-height: 190px;
  width:100%;
  height: 30vh;
  display: flex; /*Convertimos al menú en flexbox*/
}

/*CONTENEDOR DEL USUARIO*/
.contfoto{
 max-width: 190px;
 min-width: 190px;
 min-height: 190px;
 max-height: 190px;

}
/*FOTO DEL USUARIO*/

.fotous{
  margin-top: 7px;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid #2a9d8f ;
  
}

.contfoto input{
  max-width: 70%;
  min-width: 70%;
  margin-top: 5px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: block;
 
}
.textonomap{
  width: 100%;
  max-width:500px;
  height: 100%;
  overflow: hidden;
  
}
.input-group{
  width: 100%;
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #31afaf;
  
}

.input-group label{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #e9a628ef;
  pointer-events: none;
  transition: .5s;
}

.input-group input{

  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #1a1b1b;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
  

}
.estilo-separado{
  width: 100%;
}
.estilo-separado:focus~label{
  top:-5px;
}

.estilo-separado:valid~label{
  top:-5px;
}