.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}

.profile {
  width: 20%;
  height: 1024px;
}
.first-seccion {
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.photo-profile {
  border-radius: 50%;
}

.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #f0feff;
  width: 100%;
  height: 647px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.principal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 125px;
}
.dash-information {
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1152px;
}
.dash-header {
  position: sticky;
  width: 100%;
  height: 60px;
  background: #94d2bd;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 47px;
  overflow: hidden;
  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.photo-profileheader {
  border-radius: 50%;
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
/* Inicio Catalogo de servicio */
.title-service {
  height: auto;
  width: 1152px;
  margin-top: 8px;
  margin-bottom: 28px;
  & h1 {
    margin-top: 8px;
    margin: 0;
    margin-left: 54px;
  }
}
.wrapper-service {
  width: 1046px;
  height: 766px;
  background: #fff;
}
.header-table {
  height: 46px;
}
.header-table {
  display: flex;
  padding-left: 38px;
  align-items: center;
  margin-top: 22px;
  height: 46px;
}
.search-service {
  display: flex;
  align-items: center;
  width: 596px;
  margin-right: 107px;
  border-radius: 12px;
  background: #ebebeb;
  height: 46px;
}
.image-search {
  margin-right: 8px;
  margin-left: 10px;
}
.input-search {
  color: #000;
  font-family: Poppins;
  font-size: 15.239px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 312px;
}
.spancitoo {
  color: #000;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.select-service {
  margin-left: 19px;
  width: 174px;
  & select {
    width: 174px;
    height: 31px;
    border-radius: 0px 20px 20px 0px;
    background: #ebebeb;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.wrapper-cardService {
  display: grid;
  grid-template-columns: auto auto;
  overflow-y: scroll;
  height: 679px;
}
.cards-service {
  width: 457px;
  height: 200px;
  border: 1px solid #a5a5a5;
  background: #fff;
  display: flex;
  margin-left: 46px;
  margin-top: 19px;
}
.image-card {
  width: 136px;
  height: 169px;
  margin-left: 19px;
  margin-top: 14px;
}
.info-card {
  margin-left: 25px;
}
.title-cardService {
  margin: 0;
  color: #03544a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-top: 14px;
  margin-bottom: 10px;
}
.price {
  color: #e96397;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-right: 40px;
}
.duration {
  color: #000908;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.after-text {
  display: flex;
}
.text-cardService {
  margin-top: 10px;
}
.reserve-service {
  border-radius: 10px;
  border: 1px solid #2a9d8f;
  background: #2a9d8f;
  width: 213px;
  height: 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-top: 15px;
}
/* Fin de catalogo de servicio */

.footer {
  margin-top: 16px;
  width: 1177px;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}

.boton-modal {
  background-image: url("../../imagenes/perfilCliente/pencil.png");
  cursor: pointer;
}

/*fin del diseño*/

/* 
Inicia Modal de reserva */

.modalReservar {
  z-index: 3; /* Ajustamos el z-index del modal */
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modalReservar--show {
  overflow: hidden;
  opacity: 2;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modalReservar__container {
  overflow: hidden;
  margin: auto;
  width: 900px;
  height: 1000px;
  max-width: 600px;
  max-height: 700px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition: var(--transition);
}

.top-formReservar {
  text-align: center;
  margin-top: -40px;
  margin-left: -40px;
  width: 580px;
  background-color: #75cab8;
  display: flex;
}
.tituloReservar h1 {
  color: white;
  width: 525px;
  font-size: 30px;
}

#CloseModalReservar {
  margin-top: 15px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#CloseModalReservar:hover {
  background-color: #e96397;
  color: white;
  transform: rotate(360deg);
}
.cuadro_modalReservar {
  position: relative;
  width: 500px;
  height: 600px;
  background: rgba(248, 248, 248, 0.986);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

::selection {
  color: #fff;
  background: #9237e7;
}

.container {
  width: auto;
  background: #fff;
  /* text-align: center; */
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
}
.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.container .form-outer {
  width: 100%;
  overflow: hidden;
}
.container .form-outer form {
  display: flex;
  width: 400%;
}
.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
  padding-top: 37px;
}
.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .page .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #b05ed6;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #9237e7;
  color: #b05ed6;
}
form .page .btns button {
  margin-top: -20px !important;
}
form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next {
  margin-left: 3px;
}
.container .progress-bar {
  display: flex;
  margin: 8px 0;
  user-select: none;
}
.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active {
  border-color: #4b0877;
  background: #b05ed6;
}
.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progress-bar .step .bullet.active:after {
  background: #965ed6;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}
.progress-bar .step p.active {
  color: #7e1bb8;
  transition: 0.2s linear;
}
.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active {
  display: block;
  color: #fff;
}
/* .wrapper-reservar {

} */
.part-upReser {
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
}
.info-upReser {
  margin-left: 10px;
}
.title-Reserva {
  margin: 0;
  color: #027466;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  padding-top: 15px;
  font-weight: 600;
  line-height: normal;
}
.wrapper-textReser {
  display: flex;
  justify-content: space-between;
}
.text-infoRese {
  color: rgba(226, 43, 131, 0.8);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.result-rese {
  color: rgba(0, 9, 8, 0.62);
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}
.info-textRese {
  color: rgba(0, 9, 8, 0.62);
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}
.image-upReser {
  border-radius: 20px 0px;
  border: 2px solid #088778;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  margin-left: 10px;
}
.wrapper-downReser1 {
  display: flex;
  margin-top: 27px;
  justify-content: space-between;
}
.wrapper-selectReser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subtitle-reser {
  color: rgba(0, 0, 0, 0.64);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.select-reser {
  border-radius: 15px;
  background: #e7e7e7;
  width: 200px;
  height: 38px;
}
.method-payment {
  display: flex;
  justify-content: space-around;
}
.fisrt-methodPay {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #851096;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.text-methodPay1 {
  color: #820e94;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.second-methodPay {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgb(23 171 161 / 28%);
  border: 2px solid #28e1df;
  width: 200px;
}
.text-methodPay2 {
  color: #28e1df;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  margin-right: 10px;
}
.image-payment {
  margin-top: 30px;
}
.text-confirmation {
  color: rgba(0, 0, 0, 0.73);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}
.upload-only {
  position: fixed;
  left: 180px;
  top: 380px;
  z-index: 1;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  width: 201px;
  height: 47px;
}
.text-upload {
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  align-items: center;
  display: flex;
  height: 100%;
  line-height: normal;
}
