.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}

.profile {
  width: 283px !important;
  height: 1024px;
}
.first-seccion {
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 283px !important;
  border-radius: 10px 0px 0px 0px;
}

.dash-information {
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1152px;
}
.dash-header {
  position: sticky;
  width: 100%;
  height: 60px;
  background: #94d2bd;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 47px;
  overflow: hidden;
  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.photo-profileheader {
  border-radius: 50%;
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
/* Inicio Catalogo de servicio */
.title-service {
  height: auto;
  width: 1152px;
  margin-top: 8px;
  margin-bottom: 28px;
  & h1 {
    margin-top: 8px;
    margin: 0;
    margin-left: 54px;
  }
}
.wrapper-service {
  width: 1046px;
  height: 766px;
  background: #fff;
  margin-bottom: 17px;
}
.header-table {
  height: 46px;
}
.header-table {
  display: flex;
  padding-left: 38px;
  align-items: center;
  margin-top: 22px;
  height: 46px;
}
.search-service {
  display: flex;
  align-items: center;
  width: 596px;
  margin-right: 107px;
  border-radius: 12px;
  background: #ebebeb;
  height: 46px;
}
.image-search {
  margin-right: 8px;
  margin-left: 10px;
}
.input-search {
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
  font-family: Poppins;
  font-size: 15.239px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 312px;
}
.spancitoo {
  color: #000;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.select-service {
  margin-left: 19px;
  width: 174px;
  & select {
    width: 174px;
    height: 31px;
    border-radius: 0px 20px 20px 0px;
    background: #ebebeb;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.wrapper-cardService {
  display: grid;
  grid-template-columns: auto auto;
  overflow-y: scroll;
  height: 679px;
}
.wrapper-cardService::-webkit-scrollbar {
  width: 10px;
}
.wrapper-cardService::-webkit-scrollbar-thumb {
  background: #c0dfd5;
  border-radius: 2px;
}
.wrapper-cardService::-webkit-scrollbar-thumb:hover {
  background: #2a9d8f;
  border-radius: 2px;
}
.cards-service {
  width: 457px;
  height: 200px;
  border: 1px solid #a5a5a5;
  background: #fff;
  display: flex;
  margin-left: 46px;
  margin-top: 19px;
}
.image-card {
  width: 136px;
  height: 169px;
  margin-left: 19px;
  margin-top: 14px;
}
.card-imageService {
  width: 136px;
  height: 169px;
  border-radius: 30px 30px 30px 0px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.info-card {
  margin-left: 25px;
}
.title-cardService {
  margin: 0;
  color: #03544a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-top: 14px;
  margin-bottom: 10px;
}
.price {
  color: #e96397;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-right: 40px;
}
.duration {
  color: #000908;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.after-text {
  display: flex;
}
.text-cardService {
  margin-top: 10px;
}
.reserve-service {
  border-radius: 10px;
  border: 1px solid #2a9d8f;
  background: #2a9d8f;
  width: 213px;
  height: 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-top: 15px;
}
/* Fin de catalogo de servicio */

.footer {
  margin-top: 16px;
  width: 1157px;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}

.boton-modal {
  background-image: url("../../imagenes/perfilCliente/pencil.png");
  cursor: pointer;
}

/*fin del diseño*/

/* 
Inicia Modal de reserva */
.modalReservar {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.733);
}

.modalReservar__container {
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cuadro_modalReservar {
  width: 450px;
  height: 530PX;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}
.top-formReservar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.tituloReservar {
  display: flex; /* Utilizamos flexbox para centrar verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
  width: 450px;
}

.tituloReservar h1 {
  
  color: #000000;
  font-size: 30px;
  margin: 0;
}
#CloseModalReservar {
  cursor: pointer;
  color: #2a9d8f;
  font-size: 20px;
}

.container {
  margin-top: 20px;
}



.upload-confirmation img {
  object-fit: cover;
  transition: filter 0.3s ease; 
}

.subirFoto {
  display: flex; /* Utilizamos flexbox para centrar verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  font-size: 16px;
  top: 0;
  left: 0;
  width: 370px;
  margin: auto;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.637);
}

.subirFoto label {
  margin: 0; /* Quitamos el margen para ocupar todo el espacio disponible */
  color: white;
}

.iconoUpload{
  width: 64px;
  height: 64px;
  position: absolute;
  top: 473px;
  margin-left: 165px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.iconoUpload:hover {
  opacity: 1; 
}

/* Resto de estilos del modal */



/* Resto de estilos de la página principal */

::selection {
  color: #ffffff;
  background: #ec6ea9c0;
}

.containerModalService {
  width: auto;
  background: #fff;
  /* text-align: center; */
  border-radius: 5px;
  padding: 5px;
}
.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.container .form-outer {
  width: 100%;
  overflow: hidden;
}
.container .form-outer form {
  display: flex;
  width: 400%;
}
.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
  padding-top: 37px;
}
.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .page .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #b05ed6;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #9237e7;
  color: #b05ed6;
}
form .page .btns button {
  margin-top: -20px !important;
}
form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next {
  margin-left: 3px;
}
.container .progress-bar {
  display: flex;
  margin: 8px 0;
  user-select: none;
}












.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active {
  border-color: #4b0877;
  background: #b05ed6;
}
.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progress-bar .step .bullet.active:after {
  background: #965ed6;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}
.progress-bar .step p.active {
  color: #7e1bb8;
  transition: 0.2s linear;
}
.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active {
  display: block;
  color: #fff;
}
/* .wrapper-reservar {

} */
.part-upReser {
  border: 1px solid rgba(87, 86, 86, 0.473);
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-around;
}
.info-upReser {
  margin-left: 10px;
}
.title-Reserva {

  margin: 0;
  color: #027466;
  text-align: left;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  padding-top: 15px;
  font-weight: 600;
  line-height: normal;
}
.wrapper-textReser {
  display: flex;
  gap: 10px;
  font-family: Poppins;
  justify-content: space-between;
  gap: 10px;
}
.text-infoRese {
  color: rgba(226, 43, 131, 0.8);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.result-rese {
  color: rgba(0, 9, 8, 0.62);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}
.info-textRese {
  color: rgba(0, 9, 8, 0.62);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}
.image-upReser {
  border-radius: 20px 0px;
  border: 2px solid #088778;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 3px;
 
}

#resultadoFoto{
  border-radius: 20px 0px;
}

.image-upReser img{
  border-radius: 20px 0px;
}
.wrapper-downReser1 {
  display: flex;
  margin-top: 27px;
  justify-content: space-between;
  gap: 20px;
}
.wrapper-selectReser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subtitle-reser {
  margin-bottom: 10px;
  color: #027466;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.select-reser {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  background: #e7e7e7;
  width: 200px;
  height: 45px;
border: none;
border-bottom: 2px solid #E96397;
}

.method-payment {
  display: flex;
  justify-content: space-around;
}
.fisrt-methodPay {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #851096;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.text-methodPay1 {
  color: #820e94;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
  border: none;
}
.second-methodPay {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgb(23 171 161 / 28%);
  border: 2px solid #28e1df;
  width: 200px;
}
.text-methodPay2 {
  color: #28e1df;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  margin-right: 10px;
  background-color: transparent;
  border: none;
}
.image-payment {
  margin-top: 30px;
  height: 250px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  overflow: hidden; /* Oculta el contenido que exceda el tamaño del div */
}

#payment-image {

  height: 100%; /* La imagen ocupará el 100% del alto del div */
  width: auto; /* El ancho de la imagen se ajustará automáticamente */
  display: block; /* Evita espacios no deseados alineando la imagen */
}

.text-confirmation {
  color: rgba(0, 0, 0, 0.73);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;

}
.upload-only {
  position: fixed;
  left: 180px;
  top: 380px;
  z-index: 1;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  width: 201px;
  height: 47px;
}
.text-upload {
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  align-items: center;
  display: flex;
  height: 100%;
  line-height: normal;
}

.upload-confirmation{
border: 1px solid rgb(167, 167, 167);
  margin-top: 10px;
  width: 370px;
  height: 258px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.upload-confirmation img{
height: 100%;
    width: auto;
    display: block;

}



/*multipasos*/
.step {
  display: none;
}

.step.active {
  display: block;
}

.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
 
  justify-content: space-around;
}

.button-container button {
  padding: 10px 20px;
  background-color: #2A9D8F;
  border: none;
  width: 200px;
  color: #fff; /* Color del texto */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.button-container button:hover {
  background-color: #247c6c; /* Nuevo color de fondo en hover */
}


.button-container button {
  padding: 10px 20px;
}
.progress-bar {
  width: 100%;
  height: 12px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.progress {
  width: 0%;
  height: 20px;
  background-color: #E96397;
  border-radius: 5px;
  height: 100%;
  border-radius: 5px;
  transition: width 0.5s ease;
}
.progress-value {
  height: 100%;
  background-color: #E96397;
  border-radius: 45px;
}

/* Ejemplo de estilo adicional para cambiar el color del progress bar al completarse */
.progress.complete .progress-value {
  background-color: #E96397;
}

.textoReserva{
  margin: 0;

}