@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.wrapper {
  width: 100%;
  height: 1024px;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}
.profile {
  width: 20%;
  height: 1024px;
}
.first-seccion {
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 283px !important;
  border-radius: 10px 0px 0px 0px;
  overflow: hidden;
}
/* 
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.photo-profile {
  border-radius: 50%;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #f0feff;
  height: 647px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.principal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 125px;
} */
.dash-information {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dash-header {
  width: 1153.08px;
  height: 60px;
  background: #94d2bd;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 17px 8px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.photo-profileheader {
  border-radius: 50%;
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}

.footer {
  width: 1177px;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}



/*formato KPI'S, indicadores de citas*/

.contenedorGeneralEstadisticas{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 20px;
  width: 1100px;
  
}

.contenedorUnitario{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  width: 20%;
  border-radius: 20px;
  background-color: white;
}

.contenedorKPICitas{
  text-align: center;
  width: 47%;
  background-color: white;
  height: 120px;
}

.contenedorImg{
  width: 47%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#citasTotales{
  border: 4px solid #3D71BE;
}

#citasRealizadas{
  border: 4px solid #24A448;
}

#citasPendientes{
  border: 4px solid #F37A0A;
}

#citasCanceladas{
  border: 4px solid #DB1A1A;
}

.tituloCitas{
  color: #2A9D8F;
  font-size: 22px;
  margin: 0px;
}

.numeroCitas{
 
  font-weight: bold;
  font-size: 65px;
}


.contenedorCitas{
  background-color: white;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  width: auto;
  padding: 20px;
  height: 635px;
}
.contenedorCitas h2{
margin-left: 20px;
}
.contenedorSuperiorCitas{
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.barraBusqueda{
  padding-left: 15px;
  border-radius: 12px;
  background: #EBEBEB;
  width: 403px;
height: 43px;
display: flex;
align-items: center;
}
.barraBusqueda input{
  padding: 5px;
  width: 85%;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 18px;
}
.barraBusqueda input:focus {
  outline: none;
  border-color: transparent;
}
.filtroSeleccion label {
  color: #302f2f;
  margin-right: 10px;
  font-size: 18px;
}
.filtroSeleccion select {
border-radius: 15px;
height: 43px;
  background-color: #EBEBEB;
  border: 1px solid #ccc;
  padding: 5px 30px 5px 10px;
  color: #333;
  width: 170px;
  cursor: pointer;
  font-size: 18px;
}
/* Estilos al seleccionar una opción */
.filtroSeleccion select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.filtroFecha {
  align-items: center;
}
.filtroFecha label {
  margin-right: 10px;
  font-size: 18px;
}
.filtroFecha input{
  border-radius: 15px;
  height: 30px;
    background-color: #EBEBEB;
    border: 1px solid #ccc;
    padding: 5px 5px 5px 10px;
    color: #333;
    width: auto;
    cursor: pointer;
    font-size: 18px;
}
/* Estilo para el campo de fecha cuando está enfocado */
.filtroFecha input[type="date"]:focus {
  outline: none;
}
.contenedorTablaCita{
  padding: 20px;
  max-height: 1000px; /* Ajusta el tamaño máximo según tus necesidades */
  overflow-y: auto; 
 
}
.tablaCitas {
  margin: auto;
  width: auto;
  border-collapse: collapse;
  overflow: scroll;
}
.tablaCitas::-webkit-scrollbar {
  width: 10px;
}
.tablaCitas::-webkit-scrollbar-thumb {
  background: #c0dfd5;
  border-radius: 2px;
}
.tablaCitas::-webkit-scrollbar-thumb:hover {
  background: #2a9d8f;
  border-radius: 2px;
}
.tablaCitas th,
.tablaCitas td {
  padding: 8px;
  text-align: center;
}

.tablaCitas td {
  height: 70px;
  font-size: 18px;
  color: #464545;
}

.tablaCitas th {
  height: 50px;
  font-size: 18px;
  background-color: #2a9d8f;
  text-align: center;
  color: white;
  overflow: hidden;
}

.tablaCitas thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.tablaCitas tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tablaCitas tr {
  text-align: center;
}

.tablaCitas tr:hover {
  background-color: #95cfcc85;
}

.tablaCitas select {
  font-size: 18px;
  width: 100%;
  padding: 4px;
  border: none;
  background-color: transparent;
  color: #333;
}

.textoVeterinario{
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 24px;
  margin-left: 30px;
  font-weight: bold;
}



/*formato de lotes y vacunas*/

.contForm {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.formVacuna {
  border-radius: 20px;
  flex: 1;
  background-color: #f9f9f9;
  height: 710px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-left: 20px;
}

.contenedorLote {
  height: 710px;
  width: 100%;
  border-left: 1px solid #ccc;
  margin-left: 20px;
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.contformLote {
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  padding: 20px;
  box-sizing: border-box;
}

.contLoteTable {
  margin-right: 15px;
  margin-left: 20px;
  width: auto;
  height: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 630px; /* ajusta la altura máxima del contenedor según tus necesidades */
  overflow-y: auto;
}

.tablaLotes {
  border-collapse: collapse;
  width: 100%;
  height: 400vh;
}

.contenedorAccion{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;
}

.titulo_detallevac {
  font-size: 24px;
  margin-bottom: 10px;
}

.textobusqueda {
  font-size: 16px;
  margin-bottom: 10px;
}

.busqueda {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.grupotex {
  margin-bottom: 10px;
}

.etiqueta_nombre {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.ingresoFullText {
   width: 100%;
 resize: vertical;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
.ingresoFullText:focus {
  outline: none;
  border-color: #57b8ac;
  box-shadow: 0 0 6px #57b8ac;
}

.ingresoFullText::placeholder {
  color: #999;
}
.ingreso_datos {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.textAreaDatos{
  width: 100%;
  resize: vertical;
  height: 110px;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   margin-bottom: 10px;
   box-sizing: border-box;
   transition: border-color 0.3s ease;
 
}
.textAreaDatos:focus {
  outline: none;
  border-color: #57b8ac;
  box-shadow: 0 0 6px #57b8ac;
}

.textAreaDatos::placeholder {
  color: #999;
}


.ingreso_datos:focus {
  outline: none;
  border-color: #57b8ac;
  box-shadow: 0 0 6px #57b8ac;
}

.ingreso_datos::placeholder {
  color: #999;
}

.btn_envio {
  width: 100%;
  background-color: #49ac96;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn_envio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.3s ease;
  z-index: -1;
}

.btn_envio::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.3s ease;
  z-index: -1;
}

.btn_envio:hover::before,
.btn_envio:hover::after {
  width: 100%;
}

.btn_envio:hover::before {
  transition-delay: 0.1s;
}

.btn_envio:hover::after {
  transition-delay: 0.2s;
}

.tablaLotes {

  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.tablaLotes th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #96c0ba;
  
}
.tablaLotes tbody{
  color: rgba(0, 0, 0, 0.815);
}

.tablaLotes th {
  background-color: #83cab2;
  height: 45px;
 
  font-size: 20px;
}
.tablaLotes thead th {
  text-align: center;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.tablaLotes tbody tr:nth-child(even) {
  background-color: #f9f9f9;

}

.tablaLotes tbody tr:hover {
  background-color: #aeecda79;
}

.grupotex1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px; 
}
.columna{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textobusqueda1,
.ingreso_datos1,
.nomMascota {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 768px) {
  .grupotex1 {
    flex-direction: column;
  }

  .textobusqueda1,
  .ingreso_datos1,
  .nomMascota {
    width: 100%;

    margin-bottom: 10px;
  }
}

.nomMascota {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: rgba(224, 224, 224, 0.856);
}

.etiqueta_nombre1 {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.ingreso_datos1 {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
.fechaInicial{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: rgba(224, 224, 224, 0.856);
}

.ingreso_datos1:focus {
  outline: none;
  border-color: #57b8ac;
  box-shadow: 0 0 3px #57b8ac;
}

.ingreso_datos1::placeholder {
  color: #999;
}



/*Modulo de Vacunas, tablas, y formulario */

.HeaderVacuna {
 
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tittle-products {
  margin: 0;
  font-family: "Poppins";
  font-size: 35px;
  margin-right: 180px;
  width: 407px;
  margin-bottom: 0px;
}p{
  font-size: 20px;
  margin-top: 0px;
  color: rgb(82, 82, 82);
}



.add-newProduct {
  border: none;
  margin-right: 50px;
  width: 225px;
  height: 44px;
  background: #75cab8;
  border: 3px solid #75cab8;
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  transition: 0.6s;
}

.add-newProduct:hover {

  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add-newCategory {
  border: none;
  width: 225px;
  height: 44px;
  border:3px solid #E96397;
  background-color: white;
    border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #E96397;
  transition: 0.6s;
}
.add-newCategory:hover {

  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.modalVacuna{
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modalVacuna--show{
  overflow: hidden;
  opacity: 2;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modalVacuna__container{
  overflow: hidden;
  margin: auto;
  width: 900px;
  height: 1000px;
  max-width: 600px;
  max-height: 700px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition:var(--transition);

}

.top-formvacuna{
  text-align: center;
  margin-top: -40px;
  margin-left: -40px;
  width: 580px;
  background-color: #75cab8;
  display: flex;
  justify-content: flex-end;
}
.top-formvacuna h2{
color: white;
  width: 95%;
  font-size: 28px;

}

#closeModalVacuna{
  margin-top: 15px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
  transition: transform 0.3s ease;

}
#closeModalVacuna:hover {
  background-color: #E96397;
  color: white;
  transform: rotate(360deg);
}
.wrappervacuna{

  position: relative;
  width: 500px;
  height: 600px;
  background: rgba(248, 248, 248, 0.986);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
  padding: 40px;

}
.formularioVacuna{
  margin-top: 35px;
}

/*modal lote*/

.modalLote{
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modalLote--show{
  overflow: hidden;
  opacity: 2;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modalLote__container{
  overflow: hidden;
  margin: auto;

  background-color: #f9f9f9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition:var(--transition);

}

.top-formLote{
  text-align: center;
  margin-top: -40px;
  margin-left: -40px;
  width: 380px;
  background-color: #75cab8;
  display: flex;
  justify-content: flex-end;
}
.top-formLote h2{
color: white;
  width: 95%;
  font-size: 32px;

}

#closeModalLote {
  margin-top: 15px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#closeModalLote:hover {
  background-color: #E96397;
  color: white;
  transform: rotate(360deg);
}

.wrapperLote{
  position: relative;
  width: 300px;
  height: 540px;
  background-color: rgba (255,255,255,.2);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
  padding: 40px;

}




/*toggle button */


.toogleStatus {
  display: flex;
  align-items: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
}

.toggle-switch-label:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label {
  background-color: #E96397; /* Cambia el color a verde cuando esté activado */
}

.toggle-switch-checkbox:checked + .toggle-switch-label:before {
  transform: translateX(26px);
}

.slider.round {
  display: none;
}

.toggle-switch-text {
  position: absolute;
  top: calc(100% + 4px);
  transform: translateX(-50%);
  left: 50%;
  color: #888;
  font-size: 14px;
  transition: color 0.4s;
}

.toggle-switch-checkbox:checked ~ .toggle-switch-text {
  color: #E96397; /* Cambia el color a blanco cuando esté activado */
}










/**/

.contFormVacuna {
  height: 710px;
  width: 90%;
  border-left: 1px solid #ccc;
  margin-left: 20px;
  flex: 1;
  padding-top: 15px;
  background-color: #f9f9f9;
 
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 20px;

  overflow: hidden;
}

.contenedorVacuna {
  width: 100%;
  margin-top: -20px;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
}

.containerDetalleVacuna {
  margin-right: 15px;
  margin-left: 20px;
  width: auto;
  height: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 630px; /* ajusta la altura máxima del contenedor según tus necesidades */
  overflow-y: auto;
}

.tablaDetalleVacuna {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto; /* Cambia a table-layout: auto; */
}

.tablaDetalleVacuna th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #96c0ba;
}

.tablaDetalleVacuna tbody {
  color: rgba(0, 0, 0, 0.815);
}

.tablaDetalleVacuna th {
  background-color: #83cab2;
  height: 45px;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.tablaDetalleVacuna td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #96c0ba;
  word-break: break-word; /* Agrega esta propiedad */
}
.tablaDetalleVacuna th.small-column {
  width: 80px; /* Cambia el ancho según tus necesidades */
}

.tablaDetalleVacuna thead th {
  text-align: center;
  overflow: hidden;
}

.tablaDetalleVacuna tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tablaDetalleVacuna tbody tr:hover {
background-color: #aeecda79;
}

/* Media queries para hacerla responsive */
@media screen and (max-width: 600px) {
  .tablaDetalleVacuna {
    font-size: 14px;
  }

  .tablaDetalleVacuna th,
  .tablaDetalleVacuna td {
    padding: 5px;
  }

  .tablaDetalleVacuna thead th {
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .tablaDetalleVacuna {
    font-size: 12px;
  }

  .tablaDetalleVacuna th,
  .tablaDetalleVacuna td {
    padding: 3px;
  }

  .tablaDetalleVacuna thead th {
    height: 35px;
    font-size: 14px;
  }
}


/*UNABLE PAGE*/

.container-u{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
  margin-top: 26px;
  margin-bottom: 230px;
  padding: 0px 30px 0px 30px;
}
.img-container{
  display: flex;
  justify-content: center;
  height: 275px;
  width: 100%;
}
.img-container img{
  text-align: center;
  width: 350px;
  height: 275px;
  position: absolute;
  margin-top: 3px;
  margin-left: 55px;
}
.card-data{
  background-color: #FFFFFF;
  height: 410px;
  width: 100%;
  box-shadow: 0px 1px 18px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px 5px 0px 0px ;
}
.card-text{
  height: 310px;
}
.text-container{
  height: 230px;
  text-align: center;
}
.card-text .text-container p, 
.card-text .text-container p span{
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  font-size: 55px;
  color:#141414;
  & span{
    color: red;
  }
}
.card-text .text-container p:nth-child(1){
  margin-bottom: 0px;
  margin-top: 20px;
  line-height: 60px;
}
.card-text .text-container p:nth-child(2){
  color: #494949;
  font-size: 35px;
  margin-bottom: 0px;
  line-height: 50px;
}
.card-logo{
  text-align: center;
  background-color: #2A9D8F;
  height: 80px;
  box-shadow: 0px 1px 18px 4px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 5px 5px;
}


/*tabbed pane de atención de citas*/


.contenedorPrincipalCitas {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
}
.detalleBtn{
  padding: 5px 10px;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 10px;
  background-color: #E96397;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.tab {
  display: flex;
}
.contenedorSuperiorCitas {
  justify-content: center !important;
}
.contenedorSuperiorCitas h2{
  font-size: 44px;
  margin: 0px 0px 20px 0px;
}
.tablinks {
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  background-image: linear-gradient(to top, #dd3274, #db7ca2);
}

.tablinks.active {
  background-color: #ccc;
  font-weight: 600;
  background-image: linear-gradient(to top, #c5318f, #e99181);
  transform: translateY(-3px); 
  transition: transform 0.3s; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.tablaCitas {
  display: none;
  margin-top: 0px;
}

.tablaCitas.active {
  display: block;
}
