.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}
.profile {
  width: 20%;
  height: 1024px;
}
.first-seccion {
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
  overflow: hidden;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.photo-profile {
  border-radius: 50%;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #f0feff;
  height: 647px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.principal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 125px;
}
.dash-information {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dash-header {
  width: 1153.08px;
  height: 60px;
  background: #94d2bd;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 17px 8px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.photo-profileheader {
  border-radius: 50%;
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}

.footer {
  width: 1177px;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}



/*formato KPI'S, indicadores de citas*/

.contenedorGeneralEstadisticas{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 20px;
  width: 1100px;
  
}

.contenedorUnitario{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  width: 20%;
  border-radius: 20px;
  background-color: white;
}

.contenedorKPICitas{
  text-align: center;
  width: 47%;
  background-color: white;
  height: 120px;
}

.contenedorImg{
  width: 47%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#citasTotales{
  border: 4px solid #3D71BE;
img{

}}

#citasRealizadas{
  border: 4px solid #24A448;
}

#citasPendientes{
  border: 4px solid #F37A0A;
}

#citasCanceladas{
  border: 4px solid #DB1A1A;
}

.tituloCitas{
  color: #2A9D8F;
  font-size: 22px;
  margin: 0px;
}

.numeroCitas{
 
  font-weight: bold;
  font-size: 65px;
}








/*formato de lotes y vacunas*/

.contForm {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.formVacuna {
  border-radius: 20px;
  flex: 1;
  background-color: #f9f9f9;
  height: 710px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-left: 20px;
}

.contenedorLote {
  height: 710px;
  width: 100%;
  border-left: 1px solid #ccc;
  margin-left: 20px;
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.contformLote {
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  padding: 20px;
  box-sizing: border-box;
}

.contLoteTable {
  margin-right: 15px;
  margin-left: 20px;
  width: auto;
  height: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 630px; /* ajusta la altura máxima del contenedor según tus necesidades */
  overflow-y: auto;
}

.tablaLotes {
  border-collapse: collapse;
  width: 100%;
  height: 400vh;
}

.contenedorAccion{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;
}

.titulo_detallevac {
  font-size: 24px;
  margin-bottom: 10px;
}

.textobusqueda {
  font-size: 16px;
  margin-bottom: 10px;
}

.busqueda {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.grupotex {
  margin-bottom: 10px;
}

.etiqueta_nombre {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.ingresoFullText {
   width: 100%;
 resize: vertical;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
.ingresoFullText:focus {
  outline: none;
  border-color: #57b8ac;
  box-shadow: 0 0 6px #57b8ac;
}

.ingresoFullText::placeholder {
  color: #999;
}
.ingreso_datos {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.textAreaDatos{
  width: 100%;
  resize: vertical;
  height: 110px;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   margin-bottom: 10px;
   box-sizing: border-box;
   transition: border-color 0.3s ease;
 
}
.textAreaDatos:focus {
  outline: none;
  border-color: #57b8ac;
  box-shadow: 0 0 6px #57b8ac;
}

.textAreaDatos::placeholder {
  color: #999;
}


.ingreso_datos:focus {
  outline: none;
  border-color: #57b8ac;
  box-shadow: 0 0 6px #57b8ac;
}

.ingreso_datos::placeholder {
  color: #999;
}

.btn_envio {
  width: 100%;
  background-color: #49ac96;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn_envio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.3s ease;
  z-index: -1;
}

.btn_envio::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.3s ease;
  z-index: -1;
}

.btn_envio:hover::before,
.btn_envio:hover::after {
  width: 100%;
}

.btn_envio:hover::before {
  transition-delay: 0.1s;
}

.btn_envio:hover::after {
  transition-delay: 0.2s;
}

.tablaLotes {

  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.tablaLotes th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #96c0ba;
  
}
.tablaLotes tbody{
  color: rgba(0, 0, 0, 0.815);
}

.tablaLotes th {
  background-color: #83cab2;
  height: 45px;
 
  font-size: 20px;
}
.tablaLotes thead th {
  text-align: center;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.tablaLotes tbody tr:nth-child(even) {
  background-color: #f9f9f9;

}

.tablaLotes tbody tr:hover {
  background-color: #aeecda79;
}

.grupotex1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px; 
}
.columna{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textobusqueda1,
.ingreso_datos1,
.nomMascota {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 768px) {
  .grupotex1 {
    flex-direction: column;
  }

  .textobusqueda1,
  .ingreso_datos1,
  .nomMascota {
    width: 100%;

    margin-bottom: 10px;
  }
}

.nomMascota {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: rgba(224, 224, 224, 0.856);
}

.etiqueta_nombre1 {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.ingreso_datos1 {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
.fechaInicial{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: rgba(224, 224, 224, 0.856);
}

.ingreso_datos1:focus {
  outline: none;
  border-color: #57b8ac;
  box-shadow: 0 0 3px #57b8ac;
}

.ingreso_datos1::placeholder {
  color: #999;
}



/*Modulo de Vacunas, tablas, y formulario */

.HeaderVacuna {
 
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tittle-products {
  margin: 0;
  font-family: "Poppins";
  font-size: 35px;
  margin-right: 180px;
  width: 407px;
  margin-bottom: 0px;
}p{
  font-size: 20px;
  margin-top: 0px;
  color: rgb(82, 82, 82);
}



.add-newProduct {
  border: none;
  margin-right: 50px;
  width: 225px;
  height: 44px;
  background: #75cab8;
  border: 3px solid #75cab8;
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  transition: 0.6s;
}

.add-newProduct:hover {

  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add-newCategory {
  border: none;
  width: 225px;
  height: 44px;
  border:3px solid #E96397;
  background-color: white;
    border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #E96397;
  transition: 0.6s;
}
.add-newCategory:hover {

  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.modalVacuna{
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modalVacuna--show{
  overflow: hidden;
  opacity: 2;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modalVacuna__container{
  overflow: hidden;
  margin: auto;
  width: 900px;
  height: 1000px;
  max-width: 600px;
  max-height: 700px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition:var(--transition);

}

.top-formvacuna{
  text-align: center;
  margin-top: -40px;
  margin-left: -40px;
  width: 580px;
  background-color: #75cab8;
  display: flex;
  justify-content: flex-end;
}
.top-formvacuna h2{
color: white;
  width: 95%;
  font-size: 28px;

}

#closeModalVacuna{
  margin-top: 15px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
  transition: transform 0.3s ease;

}
#closeModalVacuna:hover {
  background-color: #E96397;
  color: white;
  transform: rotate(360deg);
}
.wrappervacuna{

  position: relative;
  width: 500px;
  height: 600px;
  background: rgba(248, 248, 248, 0.986);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
  padding: 40px;

}
.formularioVacuna{
  margin-top: 35px;
}

/*modal lote*/

.modalLote{
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modalLote--show{
  overflow: hidden;
  opacity: 2;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modalLote__container{
  overflow: hidden;
  margin: auto;

  background-color: #f9f9f9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition:var(--transition);

}

.top-formLote{
  text-align: center;
  margin-top: -40px;
  margin-left: -40px;
  width: 380px;
  background-color: #75cab8;
  display: flex;
  justify-content: flex-end;
}
.top-formLote h2{
color: white;
  width: 95%;
  font-size: 32px;

}

#closeModalLote {
  margin-top: 15px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#closeModalLote:hover {
  background-color: #E96397;
  color: white;
  transform: rotate(360deg);
}

.wrapperLote{
  position: relative;
  width: 300px;
  height: 540px;
  background-color: rgba (255,255,255,.2);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
  padding: 40px;

}

/*Toggle Button*/


.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-slider {
  width: 60px;
  height: 30px;
  background-color: #e6e6e6dc;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

.toggle-slider:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 26px;
  width: 26px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle-slider .slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #ccc;
  border-radius: 50%;
  transition: 0.4s;
}

.status {
  margin-left: 10px;
  font-weight: bold;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .toggle-slider {
  background-color: #f76da2dc;
  border-color: #f76da2dc;
}

input[type="checkbox"]:checked + .toggle-slider:before {
  transform: translateX(30px);
}

input[type="checkbox"]:checked + .toggle-slider .slider {
  background-color: #fff;
  transform: translateX(30px);
}

  th {
      position: relative;
      z-index: 1;
    }

/**/







/**/

.contFormVacuna {
  height: 710px;
  width: 90%;
  border-left: 1px solid #ccc;
  margin-left: 20px;
  flex: 1;
  padding-top: 15px;
  background-color: #f9f9f9;
 
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 20px;

  overflow: hidden;
}

.contenedorVacuna {
  width: 100%;
  margin-top: -20px;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
}

.containerDetalleVacuna {
  margin-right: 15px;
  margin-left: 20px;
  width: auto;
  height: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 630px; /* ajusta la altura máxima del contenedor según tus necesidades */
  overflow-y: auto;
}

.tablaDetalleVacuna {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto; /* Cambia a table-layout: auto; */
}

.tablaDetalleVacuna th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #96c0ba;
}

.tablaDetalleVacuna tbody {
  color: rgba(0, 0, 0, 0.815);
}

.tablaDetalleVacuna th {
  background-color: #83cab2;
  height: 45px;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.tablaDetalleVacuna td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #96c0ba;
  word-break: break-word; /* Agrega esta propiedad */
}
.tablaDetalleVacuna th.small-column {
  width: 80px; /* Cambia el ancho según tus necesidades */
}

.tablaDetalleVacuna thead th {
  text-align: center;
  overflow: hidden;
}

.tablaDetalleVacuna tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tablaDetalleVacuna tbody tr:hover {
background-color: #aeecda79;
}

/* Media queries para hacerla responsive */
@media screen and (max-width: 600px) {
  .tablaDetalleVacuna {
    font-size: 14px;
  }

  .tablaDetalleVacuna th,
  .tablaDetalleVacuna td {
    padding: 5px;
  }

  .tablaDetalleVacuna thead th {
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .tablaDetalleVacuna {
    font-size: 12px;
  }

  .tablaDetalleVacuna th,
  .tablaDetalleVacuna td {
    padding: 3px;
  }

  .tablaDetalleVacuna thead th {
    height: 35px;
    font-size: 14px;
  }
}
/**/