.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}
.profile {
  width: 20%;
  height: 100%;
}
.first-seccion {
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #f0feff;
  height: 61%;
  width: 100%;
  /* align-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.principal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 125px;
}
.dash-information {
  height: 1157px;
  display: flex;
  flex-direction: column;
}

.dash-header {
  width: 1153.08px;
  height: 60px;
  background: #94d2bd;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 17px 8px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 45px;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.photo-profileheader {
  border-radius: 50%;
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
.wrapper-corpes {
  display: flex;
  flex-direction: column;
}
.wrapper-quotes {
  width: 1075px;
  margin-left: 27px;
  display: flex;
  gap: 20px;
}
.corpes-quotes {
  width: 788px;
}
.search-quotes {
  display: flex;
  align-items: center;
}
.edit-dni {
  display: flex;
  align-items: center;
}

.search-dni {
  width: 132px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f5ae;
}
.input-search {
  height: 25px;
  width: 380px;
  margin-left: 11px;
}
.edit-filter {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.apply-filter {
  margin-right: 26px;
}
.add-quotes {
  background: #399731;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 146px;
  height: 41px;
}
.table-quotes {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.header-table {
  display: flex;
  background: #94d2bd;
  box-shadow: -2px 5px 4px -2px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0px 0px;
  width: 788px;
  height: 61px;
  justify-content: space-between;
  align-items: center;
}
.quotes-header {
  margin-left: 20px;
}
.button-seeall {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 113px;
  height: 41px;
  margin-right: 21px;
}
.corpes-table {
  background: #f8f7f1;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 10px 10px;
}
.tittle-table {
  display: flex;
  margin-top: 11px;
}
.title-client {
  margin-left: 34px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6418df;
  width: 63px;
  height: 24px;
}
.title-service {
  margin-left: 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6418df;
  width: 74px;
  height: 24px;
}
.title-schedule {
  margin-left: 79px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 73px;
  height: 24px;
  color: #6418df;
}
.title-state {
  margin-left: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6418df;
  width: 73px;
  height: 24px;
}

.content-table {
  display: flex;
  margin-top: 7px;
  flex-direction: column;
}
.dates-table {
  display: flex;
}
.table-name {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  width: 135px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.table-service {
  margin-left: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 102px;
  height: 24px;
}
.table-schedule {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  width: 171px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.table-state {
  width: 100px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 26px;
}
.button-table {
  margin-left: 38px;
  background: #118bfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 113px;
  height: 41px;
}
.linea {
  width: 621px;
  margin-left: 11px;
  margin-bottom: 0;
}
.wrapper-bookings {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.booked-appointments {
  width: 287px;
  height: 116px;
  display: flex;
}
.quotes-confirmed {
  display: flex;
  flex-direction: column;
  width: 151px;
  height: 116px;
  background: #144175;
  align-items: center;
  justify-content: center;
}
.quotes-process {
  display: flex;
  flex-direction: column;
  width: 151px;
  height: 116px;
  background: #d6b925;
  align-items: center;
  justify-content: center;
}
.quotes-canceled {
  display: flex;
  flex-direction: column;
  width: 151px;
  height: 116px;
  background: #df250c;
  align-items: center;
  justify-content: center;
}
.only-quotes {
  margin-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.only-state {
  margin-top: 7px;
  margin-bottom: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.number-booked {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  background: #ffffff;
  width: 136px;
  align-items: center;
  justify-content: center;
}
.wrapper-calendar {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 18px;
}
.footer {
  width: 1177px;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}

/*Inicio de Modal*/

.boton-modal {
  background-image: url("../../imagenes/perfilCliente/pencil.png");
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000e3;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modal--show {
  opacity: 2;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal__container {
  margin: auto;
  width: 100%;
  height: 500px;
  max-width: 400px;
  max-height: 500px;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition: var(--transition);
}

.top-form {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #57b8ace3;
}

.titulo-h2 {
  max-width: 390px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  align-content: center;
  margin-left: 110px;
  display: inline-block;
  margin-top: -15px;
}
.tituloform {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

#close-modal:hover {
  background-color: #e70505ee;
  color: #ffffff;
}
#close-modal {
  margin-top: 8px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  background: #df2a2ae3;
  height: 33px;
  width: 33px;
  cursor: pointer;
}

.cuadro_modal {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgba (255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.editheader {
  max-width: 390px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  width: 100%;
  height: 30vh;
  display: flex;
}

.contfoto {
  max-width: 190px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
}

.fotous {
  margin-top: 7px;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid #d867c5;
}

.contfoto input {
  max-width: 70%;
  min-width: 70%;
  margin-top: 5px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.textonomap {
  width: 100%;
  max-width: 500px;
  height: 100%;
  overflow: hidden;
}
.input-group {
  width: 95%;
  position: relative;
  margin: 40px 0;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
  border-bottom: 1px solid #eead20;
}

.input-group label {
  margin-left: 5px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  background-color: #ffff;
  pointer-events: none;
  transition: 0.5s;
}

.input-group input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #4d4d4d;
  padding: 0 5px;

  background: transparent;
  border: none;
  outline: none;
}
.estilo-separado {
  width: 100%;
}
.estilo-separado:focus ~ label {
  top: -5px;
}

.estilo-separado:valid ~ label {
  top: -5px;
}
.modalinf {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
.input-group1 {
  width: 40%;
  position: relative;
  margin-left: 20px;
  border-bottom: 1px solid #eead20;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group1 label {
  margin-left: 5px;
  width: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;

  transition: 0.5s;
}

.input-group1 input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #1a1b1b;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado1 {
  width: 100%;
}
.estilo-separado1:focus ~ label {
  top: -5px;
}

.estilo-separado1:valid ~ label {
  top: -5px;
}

.input-group2 {
  width: 45%;
  position: relative;
  margin-right: 20px;
  border-bottom: 1px solid #eead20;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group2 label {
  margin-left: 5px;
  width: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;
  transition: 0.5s;
}

.input-group2 input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;

  color: #1a1b1b;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado2 {
  width: 100%;
}
.estilo-separado2:focus ~ label {
  top: -5px;
}

.estilo-separado2:valid ~ label {
  top: -5px;
}

.modalFoot {
  max-width: 390px;
  min-width: 390px;
  min-height: 90px;
  max-height: 90px;
}

.input-group3 {
  margin-left: 20px;
  top: 25px;
  width: 92%;
  position: relative;
  margin-right: 20px;
  border-radius: 15px;
  border-bottom: 1px solid #eead20;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group3 label {
  width: auto;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;
  transition: 0.5s;
}

.input-group3 input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  text-shadow: #2a9d8f;
  color: #1a1b1b;
  margin-left: 8px;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado3 {
  width: 100%;
}
.estilo-separado3:focus ~ label {
  top: -5px;
}

.estilo-separado3:valid ~ label {
  top: -5px;
}

.contbtn {
  display: flex;
  justify-content: center;
}

.btn-mod {
  background: #e761dcf8; /* color de fondo */
  color: #ffffff; /* color de fuente */
  border: 2px solid #e447cf;
  padding: 12px 70px;
  border-radius: 15px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  display: flex;
  margin: 10px;
  cursor: pointer;
}
.btn-mod:hover {
  border: 1px solid #cc29b6;
  background-color: #d43ac0;
}
