@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* navlist */
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.image-logoPetcare {
  margin-right: 22px;
  margin-top: 10px;
  margin-bottom: 14px;
}
.photo-profile {
  border-radius: 50%;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  /* padding-right: 22px; */
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #ffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 647px;
}
.categories {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 18px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.principal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: rgba(42, 45, 55, 0.6);
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 115px;
  align-items: center;
  & button {
    margin-left: 5px;
    border-radius: 20px;
    background: #2a9d8f;
  }
}
/*Finish dashboar*/
