/* Aca comienza el La lista de productos*/
.wrapper-products {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .subwrapper-products {
    width: 1075px;
    margin-top: 50px;
  }
  .header-products {
    margin-bottom: 35px;
    margin-left: 57px;
  }
  .tittle-products {
    margin: 0;
    color: #212121;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    width: 407px;
  }
 .header-petiPuntos{
  display: flex;
 }
 .first-petiPuntos{
  display: flex;
  /* flex-direction: column; */
  width: 704px;
  height: 312px;
  margin-left: 57px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

 }
 .text-petiPuntos{
  width: 290px;
    height: 77px;
    color: #065350;
    font-family: Acme;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.352px;
    margin-top: 30px;
    margin-left: 20px;
 }
 .wrapper-promoPeti{
  display: flex;
    flex-direction: column;
 }
 .image-petiPuntitos{
  width: 280px;
 }
 .button-petiPuntoss{
  width: 148.152px;
    height: 29.509px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.21px;
    border-radius: 3px;
    background: #4284C4;
    margin-top: 10px;
    margin-left: 70px;
    border: none;
 }
 .image-promoPetii{
  height: 270px;
    margin-top: 40px;
 }
.second-petiPuntos{
  flex-direction: column;
  width: 306px;
  display: flex;
  height: 312px;
  margin-left: 50px;
}
.tittle-seconPeti{
  background: rgba(42, 157, 143, 0.88);
  width: 306px;
  height: 59px;
  display: flex;
}
.tittle-myPuntos{
  margin: 20px 25px;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.wrapper-myPetiPuntos{
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 253px;
}
.image-forPetiPig{
  height: 150px;
  margin-left: 30px;
}
.puntos-usados{
  width: 90px;
    border-radius: 50%;
    background: rgba(254, 233, 130, 0.99);
    position: absolute;
    height: 90px;
    bottom: 580px;
    margin-left: 190px;
    display: flex;
    flex-direction: column;
}
.text-puntosUsados{
      display: flex;
    color: #000;
    text-align: center;
    font-family: Acme;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.192px;
}
.puntaje-usadosPeti{
  color: #CA2889;
    text-align: center;
    font-family: Acme;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.512px;
}
.puntos-acumulados{
  width: 114px;
    height: 101px;
    background: #76E9DB;
    border-radius: 50%;
    bottom: 500px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-weight: 400;
}
.text-acumulados{
  color: #000;
    text-align: center;
    font-family: Acme;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.192px;
}
.puntaje-acumuladosPeti{
  font-family: Acme;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    color: #CA4528;
    text-align: center;
}
.puntos-generados{
  background: #FCC0D9;
    border-radius: 50%;
    bottom: 520px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 85px;
    height: 75px;
}
.text-generados{
  color: #000;
    text-align: center;
    font-family: Acme;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.192px;
    margin-top: 5px;
}
.puntaje-generadosPeti{
  color: #1C3F84;
    text-align: center;
    font-family: Acme;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.576px;
}
.title-productPeti{
  margin-left: 58px;
  margin-top: 30px;
}
.tittle-Productoss{
  margin: 0;
  color: #0A5148;
  font-family: Acme;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.368px;
}
.wrapper-drawer{
  border-radius: 19px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    width: 1034px;
    height: 183px;
    margin-left: 58px;
}

/* Aca inicia el swiper */
.swiper {
  width: 1060px !important;
  margin-top: 7px;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
}
.swiper-slide {
  white-space: nowrap;
  text-align: center;
  display: flex !important;
  align-items: center;
  margin-right: 0 !important;
  flex-direction: column;
  width: 355.667px;
  height: 165px !important;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

.cardpet-sup {
  display: flex;
  width: 165px;
}
.cardpet {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}
.image-swiper{
  width: 161px !important;
    height: 117px !important;
}
/* .swiper-slide img {
  display: block;
  object-fit: cover;
} */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}
.buton-canjear{
  display: flex;
    position: relative;
    border-radius: 3px;
    background: rgba(42, 157, 143, 0.79);
    bottom: 23px;
    width: 151px;
    justify-content: center;
    margin-left: 5px;
}
.wrapper-imgButt{
  width: 161px !important;
    height: 117px !important;
}
.text-canjePeti{
  color: #000;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
/* aca terminar el swiper */


  /* POP UP */
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  
  .popup {
    position: fixed;
    top: 240px;
    left: 0;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    width: 20%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    text-align: center;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .popup h2{
    margin-bottom: 5px;
  }
  .content{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .content input{
    width: 60%;
    text-align: center;
    border: 2px solid #DF2573;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    font-size: 30px;
    height: 35px;
}
  /* FIN POP UP */
  .result-item {
    display: flex;
    align-items: center;
    margin: 20px 12px 30px 12px;
  }
  .result-item {
    position: relative;
    overflow: hidden;
  }
  .result-info {
    display: flex;
    align-items: center;
    gap: 115px;
  }
  .result-img {
    margin-right: 48px !important;
  }
  .text-filter {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 21px;
    color: #ffffff;
    margin-left: 15px;
  }
  
  .tittle-table {
    display: flex;
    flex-direction: column;
  }
  .row-table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  .tittle-textProduct {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-right: 58px;
  }
  .tittle-textType {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
  .tittle-textPrice {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
  .tittle-textDescription {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
  .tittle-textAction {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
  .linea {
    width: 100%;
    margin-bottom: 0;
  }
  .wrapper-table {
    overflow-y: scroll;
    height: 580px;
  }
  .wrapper-table::-webkit-scrollbar {
    width: 10px;
  }
  .wrapper-table::-webkit-scrollbar-thumb {
    background: #c0dfd5;
    border-radius: 2px;
  }
  .wrapper-table::-webkit-scrollbar-thumb:hover {
    background: #2a9d8f;
    border-radius: 2px;
  }
  .dates-table {
    display: flex;
    align-items: center;
  }
  .table-nameFood {
    width: 150px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: rgba(156, 156, 156, 0.78);
  }
  .table-type {
    width: 110px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 21px;
    color: rgba(156, 156, 156, 0.78);
  }
  .table-description {
    width: 250px;
    max-height: 100px; 
    overflow-y: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px; 
    color: rgba(156, 156, 156, 0.78);
    white-space: normal; /* Esto permite el ajuste automático de línea */
    word-break: break-word; /* Esto rompe las palabras largas para ajustarse en varias filas */
  }
  .table-description::-webkit-scrollbar {
    width: 10px;
  }
  .table-description::-webkit-scrollbar-thumb {
    background: #c0dfd5;
    border-radius: 2px;
  }
  .table-description::-webkit-scrollbar-thumb:hover {
    background: #2a9d8f;
    border-radius: 2px;
  }
  .result-item button{
    width: 120px;
    height: 40px;
    margin-left: 90px;
    border-radius: 15px;
    background: #30BCAC;
    border: none;
    color: rgba(255, 255, 255, 0.78);
    text-align: center;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .result-item button:hover {
    background-color: #FFD700;
    transform: scale(1.05);
  }
  
  .result-item button:active {
    background-color: #FFC400;
    transform: scale(0.95);
  }

  /* Aca termina el La lista de productos*/