  .wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}
.profile {
  width: 20%;
  height: 100%;
}
.first-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
}
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #f0feff;
  height: 61%;
  width: 100%;
  /* align-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.principal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 210px;
}
.dash-information {
  height: 1157px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-header {
  width: 100%;
  height: 60px;
  background: #94d2bd;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 17px 8px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 47px;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
.wrapper-drawer {
  width: 1088px;
  height: 290px;
  margin-left: 44px;
  background: rgba(254, 250, 224, 0.85);
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  & h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 21px;
    margin: 0;
    margin-left: 8px;
    margin-top: 14px;
  }
}
.swiper {
  width: 1088px;
  height: 230px;
  margin-top: 13px;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
}
.swiper-slide {
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardpet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.semicrud-pet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.button-edit {
  height: 25px;
  width: 50px;
}
.option-delete {
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

/* .swiper-slide img {
  display: block;
  object-fit: cover;
} */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}
.wrapper-myclients {
  width: 1157px;
  height: 580px;
  display: flex;
  gap: 26px;
  margin-top: 25px;
}
.subwrapper-myclients {
  width: 759px;
  height: 571px;
  background: #fefae0;
  border-radius: 12px;
  margin-left: 26px;
}
.clients-search {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 35px;
  margin-top: 29px;
  & h1 {
    margin: 0;
  }
}
.button-search {
  width: 93.09px;
  height: 43px;
  background: #f64e60;
  border-radius: 6px;
}
.wrapper-search {
  margin-top: 38px;
  margin-left: 41px;
  & input {
    width: 250px;
    margin-left: 10px;
  }
}
.wrapper-dates {
  display: grid;
  width: 700px;
  grid-template-columns: auto auto auto auto;
  margin-left: 30px;
  margin-top: 35px;
  gap: 20px;
  margin-bottom: 40px;
}
.dates-name {
  display: flex;
  flex-direction: column;
  width: 282px;
}
.client-information {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.first-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #464e5f;
}
.last-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #b5b5c3;
}
.name-lastname {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.dates-email {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.text-dates {
  margin-bottom: 40px;
}
.e-mail {
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
}
.dates-cellphone {
  display: flex;
  flex-direction: column;
  width: 110px;
}
.cell-phone {
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
}
.dates-info {
  display: flex;
  flex-direction: column;
  width: 110px;
}
.button-see {
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
  & button {
    width: 92px;
    height: 34px;
    right: 0px;
    top: 0px;
    background: #c9f7f5;
    border-radius: 6px;
  }
}
.tittle-products {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-left: 33px;
  margin-right: 27px;
}
.subwrapper-product {
  width: 324px;
  height: 580px;
  background: #f2eded;
  box-shadow: 8px 2px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.product-price {
  display: flex;
  margin-bottom: 13px;
  flex-direction: column;
}
.subtittle-proprice {
  display: flex;
  width: 291.74px;
  margin-left: 12px;
}
.subtitle-product {
  width: 107px;
  margin-left: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #8e8e8e;
}
.subtitle-price {
  width: 71.78px;
  margin-left: 112.94px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #8e8e8e;
}
.wrapper-productandprice {
  display: flex;
  margin-left: 12px;
  margin-top: 15px;
  margin-bottom: 18px;
  align-items: center;
}
.wrapper-product {
  display: flex;
  width: 173px;
  margin-right: 39px;
}
.price {
  width: 79px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.subcontainer-product {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-left: 8px;
  gap: 5px;
  justify-content: center;
}
.type-category {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.type-product {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #8e8e8e;
}
.line {
  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
}
.button-product {
  width: 223.62px;
  height: 48px; 
  background: #94d2bd; 
  border: 1px solid #ffb627;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  margin-left: 49.73px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 16px;
}
.footer {
  width: 1177px;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}

.boton-modal {
  background-image: url("../../imagenes/perfilCliente/pencil.png");
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000e3;
  display: flex;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modal--show {
  opacity: 2;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal__container {
  margin: auto;
  width: 100%;
  height: 500px;
  max-width: 400px;
  max-height: 500px;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition: var(--transition);
}

.top-form {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #57b8ace3;
}

.titulo-h2 {
  max-width: 390px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  align-content: center;
  margin-left: 110px;
  display: inline-block;
  margin-top: -15px;
}
.tituloform {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

#close-modal:hover {
  background-color: #e70505ee;
  color: #ffffff;
}
#close-modal {
  margin-top: 8px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  background: #df2a2ae3;
  height: 33px;
  width: 33px;
  cursor: pointer;
}

.cuadro_modal {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgba (255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.editheader {
  max-width: 390px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  width: 100%;
  height: 30vh;
  display: flex;
}

.contfoto {
  max-width: 190px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
}

.fotous {
  margin-top: 7px;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid #d867c5;
}

.contfoto input {
  max-width: 70%;
  min-width: 70%;
  margin-top: 5px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.textonomap {
  width: 100%;
  max-width: 500px;
  height: 100%;
  overflow: hidden;
}
.input-group {
  width: 95%;
  position: relative;
  margin: 40px 0;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
  border-bottom: 1px solid #eead20;
}

.input-group label {
  margin-left: 5px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  background-color: #ffff;
  pointer-events: none;
  transition: 0.5s;
}

.input-group input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #4d4d4d;
  padding: 0 5px;

  background: transparent;
  border: none;
  outline: none;
}
.estilo-separado {
  width: 100%;
}
.estilo-separado:focus ~ label {
  top: -5px;
}

.estilo-separado:valid ~ label {
  top: -5px;
}
.modalinf {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
.input-group1 {
  width: 40%;
  position: relative;
  margin-left: 20px;
  border-bottom: 1px solid #eead20;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group1 label {
  margin-left: 5px;
  width: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;

  transition: 0.5s;
}

.input-group1 input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #1a1b1b;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado1 {
  width: 100%;
}
.estilo-separado1:focus ~ label {
  top: -5px;
}

.estilo-separado1:valid ~ label {
  top: -5px;
}

.input-group2 {
  width: 45%;
  position: relative;
  margin-right: 20px;
  border-bottom: 1px solid #eead20;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group2 label {
  margin-left: 5px;
  width: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;
  transition: 0.5s;
}

.input-group2 input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;

  color: #1a1b1b;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado2 {
  width: 100%;
}
.estilo-separado2:focus ~ label {
  top: -5px;
}

.estilo-separado2:valid ~ label {
  top: -5px;
}

.modalFoot {
  max-width: 390px;
  min-width: 390px;
  min-height: 90px;
  max-height: 90px;
}

.input-group3 {
  margin-left: 20px;
  top: 25px;
  width: 92%;
  position: relative;
  margin-right: 20px;
  border-radius: 15px;
  border-bottom: 1px solid #eead20;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group3 label {
  width: auto;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;
  transition: 0.5s;
}

.input-group3 input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  text-shadow: #2a9d8f;
  color: #1a1b1b;
  margin-left: 8px;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado3 {
  width: 100%;
}
.estilo-separado3:focus ~ label {
  top: -5px;
}

.estilo-separado3:valid ~ label {
  top: -5px;
}

.contbtn {
  display: flex;
  justify-content: center;
}

.btn-mod {
  background: #e761dcf8; /* color de fondo */
  color: #ffffff; /* color de fuente */
  border: 2px solid #e447cf;
  padding: 12px 70px;
  border-radius: 15px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  display: flex;
  margin: 10px;
  cursor: pointer;
}
.btn-mod:hover {
  border: 1px solid #cc29b6;
  background-color: #d43ac0;
}
