/* 
-Dash-header
-tittle-header
-photo-profileheader
*/

/* Header */

.dash-header {
  width: 1157px;
  height: 60px;
  background: #94d2bd;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 17px 8px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 47px;
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
.photo-profileheader {
  margin-right: 54px;
  margin-top: 8px;
  border-radius: 50%;
}
