/* SCROLL BAR */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #464e5f;
  border-radius: 2px;
}

.wrapper {
  width: 100%;
  height: 1024px;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}
.profile {
  width: 283px !important;
  height: 1024px;
}
.first-seccion {
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 283px !important;
  border-radius: 10px 0px 0px 0px;
}
/* .logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.photo-profile {
  border-radius: 50%;
}
.image-profile {
  cursor: pointer;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #f0feff;
  height: 647px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.second-seccion .principal {
  font-family: "Poppins";
  font-style: normal;
  color: #264653;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 125px;
} */

/* NAV */
.dash-information {
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-header {
  width: 100%;
  height: 60px;
  background: #94d2bd;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #2c515f;
  padding-right: 8px;
  padding-top: 18px;
}

/* Servicios */
#row-servicios {
  background-color: rgb(229, 234, 238);
  padding: 0rem 0rem 0rem 0rem;
  width: 100%;
  height: 33vh;
}
#row-servicios .row {
  flex-wrap: nowrap;
}
#row-servicios span {
  font-size: 33px;
}
#row-servicios .card {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  background-color: #fef8e5;
  transition: all 400ms ease;
  padding: 0;
  margin: 10px;
  border-radius: 20px;
  width: 16%;
  height: 30vh;
  color: #704214;
}
#row-servicios .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
#row-servicios .card:hover h4 {
  color: #000000;
}
#row-servicios .row .card img {
  width: 100%;
  border-radius: 20px;
  height: 25vh;
  background-size: cover;
  /* border: 10px solid #f3eded; */
}

#row-servicios .centxt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .conte-servicio {
  padding: 15px;
  text-align: center;
}

/* Tabla mascotas */
#row-tablaMascota {
  padding: 1rem 0rem 0rem 0rem;
  width: 100%;
  height: 76vh;
  background-color: #ebebf3;
}
#row-tablaMascota .table-container thead{
  position: sticky;
  top: -16px;
  width: 1025px;
  background-color: #ffffff;
  height: 42px;
}
#row-tablaMascota .card-body {
  height: 422px;
  overflow-y: auto;
  padding-bottom: 0px !important;
}
#row-tablaMascota .card-body::-webkit-scrollbar {
  width: 10px;
}
#row-tablaMascota .card-body::-webkit-scrollbar-thumb {
  background: #c0dfd5;
  border-radius: 2px;
}
#row-tablaMascota .card-body::-webkit-scrollbar-thumb:hover {
  background: #2a9d8f;
  border-radius: 2px;
}
#row-tablaMascota .row {
  margin: 0rem 2rem 0rem 2rem;
}
#row-tablaMascota .card {
  background-color: #c0dfd5;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  max-height: 585px;
  height: 585px;
}
#row-tablaMascota h4 {
  font-size: 40px;
  font-weight: 500px;
}
#row-tablaMascota table {
  color: #464e5f;
  margin-bottom: 0px !important;
}
#row-tablaMascota .card-header a {
  margin: 4px;
  color: white;
  width: 105px;
  height: 41px;
  font-size: 18px;
  font-weight: 600;
}
#row-tablaMascota .six {
  margin: 1rem 0rem 0.5rem 1.2rem;
}
#row-tablaMascota input {
  width: 20%;
  margin-left: 5px;
  display: inline;
  background-color: #edf3f5;
  font-size: 15px;
}
#row-tablaMascota thead {
  background-color: #f3f6f9;
}
#row-tablaMascota tbody a {
  font-size: 13px;
  font-weight: 680;
  height: 32px;
}
#row-tablaMascota .btn:hover {
  /* transform: translate(-3%); */
  transition: 0.3s;
  transform: scale(1.1);
  color: #000000;
}
tbody tr {
  font-weight: 550;
  --bs-table-striped-color: none;
}
tbody tr:hover {
  color: #000000;
  font-weight: 630;
}
.td {
  padding: 8px 0px 8px 0px;
  width: 18%;
}
.th {
  width: 5%;
}
#row-tablaMascota table tbody td {
  padding: 14px 0px 14px 0px;
  vertical-align: middle;
}
.dimg {
  width: 60px;
  height: 45px;
}
.toget {
  width: 64px;
}

/* Modal Register */
.modalMascota {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000e3;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
  z-index: 2;
}
.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}
#modal-Register {
  margin: auto;
  border-radius: 5px 5px 20px 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: auto;
  height: 373px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  transform: var(--transform);
  transition: var(--transition);
}
.modalMascotaAgre .container {
  background-color: #c8dfda;
  width: auto;
  height: 380px;
  border-radius: 5px 5px 15px 15px;
  padding: 0px;
  /* border: 4px solid #1b3030; */
}
#modal-Register .row {
  margin-left: 0px;
  margin-right: 0px;
}
#modal-Register .button .btn {
  background-color: #1bc5bd;
  width: 162px;
  height: 50px;
  color: #1b3030;
  border: 2px solid #1b3030;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  border-radius: 40px;
}
#modal-Register .row .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
#modal-Register .row .button .btn:hover {
  border: 1px solid #111d1c;
  background-color: #0cf1e6;
  transform: scale(1.04);
}
#modal-Register .container .header-ReMas {
  background-color: #57b8ace3;
  margin-bottom: 24px;
}
#modal-Register .container .close-btn {
  display: flex;
  width: 72px;
  position: absolute;
  justify-content: flex-end;
}
#modal-Register .container .modal__close {
  width: 45px;
  margin-top: 4px;
  background-color: #df2a2ae3;
  &:hover {
    background-color: #bb0000e3;
  }
}
#modal-Register .container .data-col2 .cont-radio .cont-este input:checked {
  border: solid 2px #e96397 !important;
  background-color: #e96397;
  box-shadow: none;
}
#modal-Register .row h3 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
#modal-Register .data form {
  display: flex;
  justify-content: center;
  padding-right: 0px;
  padding-left: 0px;
  align-items: center;
}
.modalMascotaAgre #modal-Register .data {
  width: 720px;
}
#modal-Register.data .data-col2 {
  width: 391px;
}
.modalMascotaAgre #modal-Register .row .data-col2 input,
.modalMascotaAgre #modal-Register .row .data-col2 select {
  background-color: rgba(240, 240, 240, 0.959);
  border-bottom: 1px solid #e96397;
  border-width: 0px 2px 2px 0px;
  margin: 0px 0px 25px 0px;
  font-weight: 600;
}
#modal-Register .row .data-col2 label {
  margin: 0px 0px 25px 0px;
  font-weight: 600;
}
.form-control {
  width: 203px;
  height: 42px;
  display: inline;
}
.form-select {
  display: inline;
}
#modal-Register .select-RaEs {
  display: flex;
  justify-content: space-between;
}
#modal-Register .row-short {
  display: inline;
}
#modal-Register .row-short .cont-radio {
  display: inline;
}

#modal-Register .ip {
  /* width: 94.6px; */
  width: 92px;
  height: 42px;
}
#modal-Register .cont-radio .form-check-input {
  margin-left: 0px !important;
  font-size: 16px;
}
#modal-Register .cont-radio label {
  margin-left: 0px !important;
  font-size: 16px;
}
.cont-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modal-Register form .row {
  justify-content: center;
  align-items: center;
}
#modal-Register .form-control-sm {
  width: 78%;
  margin-bottom: 0px !important;
}
#modal-Register .cont-este {
  margin-right: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}
#modal-Register .data-col1 {
  width: 35%;
  margin-right: -40px;
  height: 272px;
}
#modal-Register .data-col1 .row {
  width: 100%;
  margin: 0px;
}
.iconoRegisMascota {
  width: 38px;
  height: 38px;
  margin-left: 160px;
  margin-top: -74px;
  border-radius: 5px;
  transition: 0.7s ease;
  border: solid 2px black;
  padding: 3px;
  cursor: pointer;
}
.iconoRegisMascota:hover {
  transform: rotate(360deg);
}
.foto {
  display: flex;
  width: 162px;
  height: 166px;
  margin: 1px 7px 7px 7px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
/* #cambiar-foto {
  background-color: #1bc5bd;
  border: 2px solid #1b3030;
  border-radius: 2px;
  width: 50%;
  text-align: center;
  opacity: 0.7;
  padding: 9px;
  margin-left: 0px;
}
#cambiar-foto:hover {
  color: black;
  opacity: 0.9;
}
#cambiar-foto:active {
  background-color: #1df3e8;
} */
#img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-right: auto;
  display: block;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.fotoPos {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
}
/* Modal Editar */
.modalMascotaEdit #modal-Register {
  margin: auto;
  border-radius: 5px 5px 20px 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 485px;
  height: 432px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  transform: var(--transform);
  transition: var(--transition);
}
.modalMascotaEdit .container {
  background-color: #c8dfda;
  width: 490px;
  height: 353px;
  border-radius: 5px 5px 15px 15px;
  padding: 0px;
}
#modal-Register .row .data-col2 .form-edit input,
#modal-Register .row .data-col2 .form-edit select {
  background-color: rgba(240, 240, 240, 0.959);
  border-bottom: 1px solid #e96397;
  border-width: 0px 2px 2px 0px;
  margin: 0px 0px 30px 0px;
  font-weight: 600;
}
#modal-Register .row .data-col2 .form-edit label {
  margin: 0px 0px 30px 0px;
}
.modalMascotaEdit .row .button {
  margin-top: -3px;
}
.modalMascotaEdit .row .button .btn {
  width: 223px !important;
}
.edad-footer {
  background-color: rgba(240, 240, 240, 0.959);
  border-bottom: 1px solid #e96397;
  border-width: 0px 2px 2px 0px;
  margin: 0px 0px 25px 0px;
  font-weight: 600;
  text-align: center;
}
.modalMascotaEdit .container .data {
  margin: 0px 0px 0px 18px !important;
}
.modalMascotaEdit .container .header-ReMas {
  margin-bottom: 16px !important;
}
.modalMascotaEdit .container .data-col2 {
  width: 50% !important;
  height: 272px;
}
.modalMascotaEdit .container .data-col1 {
  width: 50% !important;
  height: 100%;
  margin-right: 0px !important;
}
.modalMascotaEdit .container .data-col2 .form-edit .cont-radio {
  display: block;
}
.modalMascotaEdit .container .data-col2 .form-edit .cont-radio .cont-este {
  gap: 16px !important;
  margin-right: 0px !important;
}
.modalMascotaEdit
  .container
  .data-col2
  .form-edit
  .cont-radio
  .cont-este
  input:checked {
  border: solid 2px #e96397 !important;
  background-color: #e96397;
  box-shadow: none;
}
.modalMascotaEdit .form-control {
  width: 222px;
}
.modalMascotaEdit .row-short .ip {
  width: 90px !important;
}
.modalMascotaEdit #perfil-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-right: auto;
  display: block;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.modalMascotaEdit .iconoRegisMascota {
  margin-left: 150px;
  margin-top: -72px;
  border: none;
  border-radius: 8px;
}
/* Modal Carnet */
#modal-Carnet {
  margin: auto;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 950px;
  height: 710px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  transform: var(--transform);
  transition: var(--transition);
}
.modal-SaludMascota .row {
  margin: 0px !important;
}
#modal-Carnet .container {
  background-color: #c8dfda;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 950px;
  height: 455px;
  border-radius: 15px;
  margin: 0px;
  padding: 0px;
}
.modal-SaludMascota .row .card-mascota {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  height: 100%;
  margin-top: 10px;
}
.modal-SaludMascota .row .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92% !important;
  /* width: 288px; */
  text-align: center;
  height: 100% !important;
  border-radius: 20px;
  background-color: #57b8ace3;
}
.modal-SaludMascota .mascota-container {
  width: 100%;
  height: 96%;
  margin: 10px 0px 10px 0px;
}
.modal-SaludMascota .container .close-btn {
  display: flex;
  width: 72px;
  position: absolute;
  justify-content: flex-end;
}
.modal-SaludMascota .container .modal__close {
  width: 45px;
  margin-top: 4px;
  background-color: #df2a2ae3;
  &:hover {
    background-color: #bb0000e3;
  }
}
.modal-SaludMascota .row .card-title {
  width: 100%;
  height: 9%;
  margin-top: 6px;
  margin-bottom: 4px;
  font-size: 30px;
  font-weight: 640;
}
.modal-SaludMascota .row .img-card {
  width: 85%;
  height: 46%;
}

.modal-SaludMascota .row .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  padding: 10px 10px 0px 10px;
}
.modal-SaludMascota .row .card-body ul {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
}
.modal-SaludMascota .row .card-body ul span {
  font-size: 18px;
}
.modal-SaludMascota .card .img-card img {
  width: 90%;
  height: 100%;
  background-size: cover;
  border: 2px solid #000000;
  border-radius: 48%;
}
.modal-SaludMascota .card .card-body .card-text {
  display: flex;
  width: 100%;
  height: 100%;
}
.modal-SaludMascota .card .card-body .card.text .co1 {
  width: 44%;
}
.modal-SaludMascota .card .card-body .card.text .co2 {
  width: 56%;
}
/* ------------------------------------------ */
.modal-SaludMascota .row .card-carnet {
  width: 68%;
  height: 100%;
  padding: 0px 0px 0px 0px;
  border-radius: 20px;
  margin-top: 10px;
}
.modal-SaludMascota .row .carnet-tit {
  width: 100%;
  height: 15%;
  margin-left: 0px;
  text-align: center;
}
.modal-SaludMascota .row .carnet-tit h1 {
  margin-top: 5px;
  font-size: 44px;
}
.modal-SaludMascota .row .carnet-tabla {
  width: 95%;
  height: 82%;
  text-align: center;
  background-color: #c0dfd5;
  margin-bottom: 1rem !important;
  border-radius: 10px;
}
.modal-SaludMascota .row .header-tabla {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 90%;
  height: 20%;
  margin: 0px;
}
.modal-SaludMascota .row .header-tabla span {
  vertical-align: middle;
  font-size: 1.4rem;
}
.modal-SaludMascota .row .header-tabla .col {
  width: 21%;
  height: 42px;
}
/* ------------------------------------------- */
.modal-SaludMascota .row .container-carnet {
  height: 85%;
  width: 100%;
  padding-right: 12px;
}
.modal-SaludMascota .row .carnet-data {
  width: 100% !important;
}
.modal-SaludMascota .row .table-data {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin: 0px;
  padding: 0px;
}

.modal-SaludMascota table {
  color: #2c313d;
  width: 100%;
  margin-bottom: 0px;
  font-size: 14px;
}
.modal-SaludMascota thead {
  background-color: #f3f6f9;
}
.modal-SaludMascota .head-table {
  position: absolute;
}
.modal-SaludMascota tbody a {
  font-size: 13px;
  font-weight: 680;
  height: 32px;
}
.modal-SaludMascota .td {
  padding: 8px 0px 8px 0px;
  width: 18%;
}
.modal-SaludMascota .table-data tbody td {
  padding-left: 4px;
}
.modal-SaludMascota .th {
  width: 20%;
  max-width: 22%;
  overflow: hidden;
}
.modal-SaludMascota table tbody td {
  padding: 14px 0px 14px 0px;
  vertical-align: middle;
}

.modal-SaludMascota .carnet-tabla {
  overflow-y: auto;
}
.modal-SaludMascota .carnet-tabla::-webkit-scrollbar {
  width: 10px;
}
.modal-SaludMascota .carnet-tabla::-webkit-scrollbar-thumb {
  background: #c0dfd5;
  border-radius: 2px;
}
.modal-SaludMascota .carnet-tabla::-webkit-scrollbar-thumb:hover {
  background: #2a9d8f;
  border-radius: 2px;
}
.modal-SaludMascota .co1 {
  width: 38%;
  text-align: end;
}
.modal-SaludMascota .co2 {
  width: 52%;
  text-align: center;
}

.footer {
  width: 100%;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}
.copyrigth {
  margin-right: 22.5px;
}
