/* SCROLL BAR */
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background: #464E5F;
  border-radius: 2px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    background: rgba(232, 232, 229, 1);
  }
  .profile {
    width: 20%;
    height: 1024px;
  }
  .first-seccion {
    background: #2a9d8f;
    box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px 0px 0px 0px;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 14px;
  }
  .profile-information {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 7px;
    padding-right: 22px;
  }
  .user {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    padding-right: 7px;
  }
  .image-profile {
    cursor: pointer;
  }
  .id {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 11px;
  }
  .second-seccion {
    background: #f0feff;
    height: 61%;
    width: 100%;
    /* align-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categories {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 40px;
    padding-left: 32px;
    padding-top: 10px;
  }
  .icons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .second-seccion .principal {
    font-family: "Poppins";
    font-style: normal;
    color: #264653;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-left: 8px;
  }
  .list {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(42, 45, 55, 0.6);
    padding-left: 8px;
  }
  .sign-off {
    display: flex;
    margin-top: 125px;
  }

/* NAV */
.dash-information {
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dash-header {
    width: 100%;
    height: 60px;
    background: #94d2bd;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  
    & img {
      margin-right: 54px;
      margin-top: 8px;
    }
  }
  .tittle-header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #2c515f;
    padding-right: 8px;
    padding-top: 18px;
  }

/* Servicios */
#row-servicios {
    background-color: rgb(229, 234, 238);
    padding: 0rem 0rem 0rem 0rem;
    width: 100%;
    height: 33vh;
}
#row-servicios .row{
    flex-wrap: nowrap;
}
#row-servicios span{
    font-size: 33px;
}
#row-servicios .card{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    background-color: #2A9D8F;
    transition: all 400ms ease;
    padding: 0;
    margin: 10px;  
    border-radius: 20px;
    width: 16%;
    height: 30vh;
}
#row-servicios .card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
#row-servicios .card:hover h4{
  color: #ffffff;
}
#row-servicios .row .card img{
    width: 100%; 
    border-radius: 20px;
    height: 25vh;
    background-size: cover;
    /* border: 10px solid #f3eded; */
}

#row-servicios .centxt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .conte-servicio{
    padding: 15px;
    text-align: center;
}

/* Tabla mascotas */
#row-tablaMascota{
  padding: 1rem 0rem 0rem 0rem;
  width: 100%;
  height: 80vh;
  background-color: #ebebf3;

}

#row-tablaMascota{
  overflow-y: auto;
}
#row-tablaMascota::-webkit-scrollbar{
  width: 10px;
}
#row-tablaMascota::-webkit-scrollbar-thumb{
  background: #C0DFD5;
  border-radius: 2px;
}
#row-tablaMascota::-webkit-scrollbar-thumb:hover{
  background: #2A9D8F;
  border-radius: 2px;
}
#row-tablaMascota .row{
  margin: 0rem 2rem 0rem 2rem;
}
#row-tablaMascota .card{
  background-color:#C0DFD5;;
}
#row-tablaMascota h4{
  font-size: 40px;
  font-weight: 500px;
}
#row-tablaMascota table{
  color: #464E5F;
}
#row-tablaMascota .card-header a{
  margin: 4px;
  color: white;
  width: 105px;
  height: 41px;
  font-size: 18px;
  font-weight: 600;
}
#row-tablaMascota .six{
  margin: 1rem 0rem 1rem 0rem;
}
#row-tablaMascota input{
  width: 20%;
  margin-left:5px;
  display:inline;
  background-color: #edf3f5;
  font-size: 15px;
}
#row-tablaMascota thead{
  background-color: #F3F6F9;
}
#row-tablaMascota tbody a{
  font-size: 13px;
  font-weight: 680;
  height: 32px;
}
#row-tablaMascota .btn:hover{
  /* transform: translate(-3%); */
  transition: 0.3s;
  transform: scale(1.1);
  color: #000000;
}
tbody tr:hover{
  color: #000000;
  font-weight: 700;
}
.td{
  padding: 8px 0px 8px 0px;
  width: 18%;
}
.th{
  width: 5%;
}
#row-tablaMascota table tbody td{
  padding: 14px 0px 14px 0px;
  vertical-align: middle;
}
.dimg{
  width: 60px;
  height: 45px;
}
.toget{
  width: 64px;
}

/* Modal Register */
.modalMascota {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
  z-index: 2;
}
.modalMascotaEd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
  z-index: 2;
}
.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}
#modal-Register{
  margin:auto;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 600px;
  height: 780px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  transform: var(--transform);
  transition: var(--transition);
}
#modal-Register .container{
  background-color: #2A9D8F;
  background: linear-gradient(rgba(42, 157, 143, 0.5), rgba(42,157,143,0.5));
  width: 415px;
  height: 620px;
  border-radius: 15px;
}
#modal-Register .button .btn{
  background-color:#1BC5BD; 
  width: 100px;
  height: 40;
  color:#1D3534;
  border: 2px solid #1D3534;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
#modal-Register .row .button{
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-Register .row h3{
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
#modal-Register .row form input,select,label{
  margin: 0px 0px 18px 0px;
  font-weight: 600;
  color: #000000;
}
.form-control{
  width: 189px;
  display: inline;
}
.form-select{
  display: inline;
}
#modal-Register .cont-radio .form-check-input{
  margin-left: 0px !important;
  font-size: 16px;
}
#modal-Register .cont-radio label{
  margin-left: 0px !important;
  font-size: 16px;
}
.cont-radio{
display: flex;
justify-content: space-between;
align-items: center;
}
#modal-Register form .row{
  justify-content: center;
  align-items: center;
}
#modal-Register .form-control-sm{
  width: 78%;
  margin-bottom: 0px !important;
}
#modal-Register .cont-este{
  margin-right: 20px;
  display: flex;
  gap: 4px;
  align-items: center;
}


.foto{
  align-items: center;
  align-content: center;
  border-radius: 15px;
  display: flex;
  background-color: #ffffff;
  border: 10px solid #000000;
  width: 180px;
  height: 180px;
  padding: 10px;
  margin: 20px;
  margin-top: 10px;
}
.fotoPos{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* MODAL EDITAR CLIENTE */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000e3;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modal--show {
  opacity: 2;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal__container {
  margin: auto;
  width: 100%;
  height: 500px;
  max-width: 400px;
  max-height: 500px;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition: var(--transition);
}

.top-form {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #57b8ace3;
}

.titulo-h2 {
  max-width: 390px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  align-content: center;
  margin-left: 110px;
  display: inline-block;
  margin-top: 15px;
}
.tituloform {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

#close-modal:hover {
  background-color: #e70505ee;
  color: #ffffff;
}
#close-modal {
  margin-top: 8px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  background: #df2a2ae3;
  height: 33px;
  width: 33px;
  cursor: pointer;
}

.cuadro_modal {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgba (255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.editheader {
  max-width: 390px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  width: 100%;
  height: 30vh;
  display: flex;
}

.contfoto {
  max-width: 190px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
}

.fotous {
  margin-top: 7px;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid #d867c5;
}

.contfoto input {
  max-width: 70%;
  min-width: 70%;
  margin-top: 5px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.textonomap {
  width: 100%;
  max-width: 500px;
  height: 100%;
  overflow: hidden;
}
.input-group {
  width: 95%;
  position: relative;
  margin: 40px 0;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
  border-bottom: 1px solid #eead20;
}

.input-group label {
  margin-left: 5px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  background-color: #ffff;
  pointer-events: none;
  transition: 0.5s;
}

.input-group input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #4d4d4d;
  padding: 0 5px;

  background: transparent;
  border: none;
  outline: none;
}
.estilo-separado {
  width: 100%;
}
.estilo-separado:focus ~ label {
  top: -5px;
}

.estilo-separado:valid ~ label {
  top: -5px;
}
.modalinf {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
.input-group1 {
  width: 40%;
  position: relative;
  margin-left: 20px;
  border-bottom: 1px solid #eead20;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group1 label {
  margin-left: 5px;
  width: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;

  transition: 0.5s;
}

.input-group1 input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #1a1b1b;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado1 {
  width: 100%;
}
.estilo-separado1:focus ~ label {
  top: -5px;
}

.estilo-separado1:valid ~ label {
  top: -5px;
}

.input-group2 {
  width: 45%;
  position: relative;
  margin-right: 20px;
  border-bottom: 1px solid #eead20;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group2 label {
  margin-left: 5px;
  width: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;
  transition: 0.5s;
}

.input-group2 input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;

  color: #1a1b1b;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado2 {
  width: 100%;
}
.estilo-separado2:focus ~ label {
  top: -5px;
}

.estilo-separado2:valid ~ label {
  top: -5px;
}

.modalFoot {
  max-width: 390px;
  min-width: 390px;
  min-height: 90px;
  max-height: 90px;
}

.input-group3 {
  margin-left: 20px;
  top: 25px;
  width: 92%;
  position: relative;
  margin-right: 20px;
  border-radius: 15px;
  border-bottom: 1px solid #eead20;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group3 label {
  width: auto;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;
  transition: 0.5s;
}

.input-group3 input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  text-shadow: #2a9d8f;
  color: #1a1b1b;
  margin-left: 8px;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado3 {
  width: 100%;
}
.estilo-separado3:focus ~ label {
  top: -5px;
}

.estilo-separado3:valid ~ label {
  top: -5px;
}

.contbtn {
  display: flex;
  justify-content: center;
}

.btn-mod {
  background: #e761dcf8; /* color de fondo */
  color: #ffffff; /* color de fuente */
  border: 2px solid #e447cf;
  padding: 12px 70px;
  border-radius: 15px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  display: flex;
  margin: 10px;
  cursor: pointer;
}
.btn-mod:hover {
  border: 1px solid #cc29b6;
  background-color: #d43ac0;
}










  .footer {
    width: 100%;
    height: 47px;
    background: #94d2bd;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }
  }
  .copyrigth {
    margin-right: 22.5px;
  }