.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}
.profile {
  width: 20%;
  height: 1024px;
}
.first-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
}
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.photo-profile {
  border-radius: 50%;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #ffff;
  height: 647px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 230px;
}
.dash-information {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-header {
  width: 1153.08px;
  height: 60px;
  background: #94d2bd;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 17px 8px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 45px;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
.photo-profileheader {
  border-radius: 50%;
}
.wrapper-services {
  width: 1153.08px;
}
.header-services {
  display: flex;
  margin-left: 49px;
  height: 50px;
  & h1 {
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 59px;
    line-height: 21px;
    /* or 36% */

    color: #212121;
  }
}
.add-newService {
  margin-left: 438px;
  background: #ffffff;
  border: 3px solid #49c1b3;
  border-radius: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  color: #49c1b3;
  width: 229px;
  height: 44px;
}

.wrapper-deck {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  align-items: center;
  margin-left: 89px;
  margin-top: 40px;
}
.card {
  width: 309px;
  height: 313px;
}
.card-body {
  display: flex;
}
.edit-pencil {
  margin-top: 80px;
  margin-left: 20px;
}
/* Aca  comienza en Toogle status para cambiar el estado */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 80px;
  margin-left: 20px;
}

.toggle-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  border-radius: 34px;
  background-color: #ccc;
  cursor: pointer;
}

.toggle-switch-label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label {
  background-color: #4caf50;
}

.toggle-switch-checkbox:checked + .toggle-switch-label:before {
  transform: translateX(26px);
}

.toggle-switch-text {
  font-size: 14px;
  color: #888;
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
}
/*aca termina el toogle*/
.footer {
  width: 100%;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 460px;

  &span{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}

.boton-modal {
  background-image: url("../../imagenes/perfilCliente/pencil.png");
  cursor: pointer;
}

<<<<<<< HEAD
=======
.modal--show {
  opacity: 2;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal__container {
  margin: auto;
  width: 100%;
  height: 500px;
  max-width: 400px;
  max-height: 500px;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition: var(--transition);
}

.top-form {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #57b8ace3;
}

.titulo-h2 {
  max-width: 390px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  align-content: center;
  margin-left: 110px;
  display: inline-block;
  margin-top: -15px;
}
.tituloform {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

#close-modal:hover {
  background-color: #e70505ee;
  color: #ffffff;
}
#close-modal {
  margin-top: 8px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  background: #df2a2ae3;
  height: 33px;
  width: 33px;
  cursor: pointer;
}

.cuadro_modal {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgba (255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.editheader {
  max-width: 390px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
  width: 100%;
  height: 30vh;
  display: flex;
}

.contfoto {
  max-width: 190px;
  min-width: 190px;
  min-height: 190px;
  max-height: 190px;
}

.fotous {
  margin-top: 7px;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid #d867c5;
}

.contfoto input {
  max-width: 70%;
  min-width: 70%;
  margin-top: 5px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.textonomap {
  width: 100%;
  max-width: 500px;
  height: 100%;
  overflow: hidden;
}
.input-group {
  width: 95%;
  position: relative;
  margin: 40px 0;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
  border-bottom: 1px solid #eead20;
}

.input-group label {
  margin-left: 5px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  background-color: #ffff;
  pointer-events: none;
  transition: 0.5s;
}

.input-group input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #4d4d4d;
  padding: 0 5px;

  background: transparent;
  border: none;
  outline: none;
}
.estilo-separado {
  width: 100%;
}
.estilo-separado:focus ~ label {
  top: -5px;
}

.estilo-separado:valid ~ label {
  top: -5px;
}
.modalinf {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
.input-group1 {
  width: 40%;
  position: relative;
  margin-left: 20px;
  border-bottom: 1px solid #eead20;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group1 label {
  margin-left: 5px;
  width: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;

  transition: 0.5s;
}

.input-group1 input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #1a1b1b;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado1 {
  width: 100%;
}
.estilo-separado1:focus ~ label {
  top: -5px;
}

.estilo-separado1:valid ~ label {
  top: -5px;
}

.input-group2 {
  width: 45%;
  position: relative;
  margin-right: 20px;
  border-bottom: 1px solid #eead20;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group2 label {
  margin-left: 5px;
  width: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;
  transition: 0.5s;
}

.input-group2 input {
  margin-left: 8px;
  width: 100%;
  height: 40px;
  font-size: 16px;

  color: #1a1b1b;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado2 {
  width: 100%;
}
.estilo-separado2:focus ~ label {
  top: -5px;
}

.estilo-separado2:valid ~ label {
  top: -5px;
}

.modalFoot {
  max-width: 390px;
  min-width: 390px;
  min-height: 90px;
  max-height: 90px;
}

.input-group3 {
  margin-left: 20px;
  top: 25px;
  width: 92%;
  position: relative;
  margin-right: 20px;
  border-radius: 15px;
  border-bottom: 1px solid #eead20;
  background-color: rgba(240, 240, 240, 0.959);
}

.input-group3 label {
  width: auto;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #1ba38cef;
  pointer-events: none;
  transition: 0.5s;
}

.input-group3 input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  text-shadow: #2a9d8f;
  color: #1a1b1b;
  margin-left: 8px;
  border: none;
  background: transparent;
  outline: none;
}
.estilo-separado3 {
  width: 100%;
}
.estilo-separado3:focus ~ label {
  top: -5px;
}

.estilo-separado3:valid ~ label {
  top: -5px;
}

.contbtn {
  display: flex;
  justify-content: center;
}

.btn-mod {
  background: #e761dcf8; /* color de fondo */
  color: #ffffff; /* color de fuente */
  border: 2px solid #e447cf;
  padding: 12px 70px;
  border-radius: 15px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  display: flex;
  margin: 10px;
  cursor: pointer;
}
.btn-mod:hover {
  border: 1px solid #cc29b6;
  background-color: #d43ac0;
}

/* Inicia modal para editar Products */
.modal-wrapper {
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modals {
  padding: 0 40px;
  position: relative;
}
.modals > div {
  width: 920px;
  height: 654px;
  background: #f5f5f5;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.frame {
  background: #30bcac;
  width: 80px;
  height: 580px;
  position: absolute;
  z-index: -1;
}
.frame-1 {
  right: 5px;
  top: 0;
}
.frame-2 {
  left: 5px;
  bottom: 0;
}

.wrapper-headerModals {
  display: flex;
  align-items: center;
  width: 920px;
  height: 72px;
  margin-left: 10px;
}
.only-circle {
  display: flex;
  width: 50px;
  height: auto;
  flex-direction: column;
  margin-right: 186px;
  align-items: flex-start;
  justify-content: flex-start;
}
.circle-rigth {
  background: #30bcac;
  display: flex;
  border-radius: 50%;
  width: 15px;
  margin-left: 30px;
  height: 15px;
}
.circle-center {
  border-radius: 50%;
  background: #30bcac;
  width: 34px;
  height: 33px;
  display: flex;
}
.circle-left {
  background: #30bcac;
  border-radius: 50%;
  width: 15px;
  display: flex;
  height: 15px;
  margin-top: 9px;
}

.title-newProduct {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #30bcac;
  width: 461px;
  height: 21px;
  margin: 0;
}
.close {
  margin-left: 150px;
}
.wrapper-bodyModals {
  display: flex;
  margin-left: 78px;
  margin-top: 46px;
  height: 420px;
  width: 778px;
}
.photos-Modals {
  width: 330px;
  height: 100%;
}
.image-modals {
  width: 100%;
  height: auto;
}
.image-modals > img {
  width: 100%;
}

.update-photos {
  background: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.text-updatePhoto {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

.formu-modals {
  display: flex;
  margin-left: 58px;
  width: 395px;
  flex-direction: column;
}
.first-group {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: baseline;
}
.label-reuse {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  color: rgba(57, 57, 57, 0.78);
}
.text-nameProduct {
  background: #ffffff;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #df2573;
  width: 368px;
  height: 51px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
}
.second-group {
  display: flex;
  margin-top: 26px;
}
.group-selects {
  display: none;
  flex-direction: column;
  gap: 11px;
  align-items: baseline;
  margin-right: 30px;
}
.selectProdcuts {
  background: #ffffff;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #df2573;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 179px;
  height: 55px;
}
.group-text {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: baseline;
}
.text-namePrice {
  background: #ffffff;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #df2573;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  width: 368px;
  height: 51px;
}
.thirds-group {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: baseline;
  margin-top: 17px;
}
.text-descriptionProduct {
  background: #ffffff;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #df2573;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  width: 368px;
  height: 139px;
  padding-top: 20px;
  resize: none;
}
.footer-modals {
  display: flex;
  margin-top: 30px;
}
.add-button {
  width: 363px;
  height: 64px;
  background: #30bcac;
  border-radius: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.78);
  margin-left: 300px;
}
.footer-circle {
  display: flex;
  flex-direction: column;
  margin-left: 201px;
}
.footer-rigth {
  background: #30bcac;
  width: 15px;
  border-radius: 50%;
  height: 15px;
  margin-left: 25px;
  margin-bottom: 5px;
}
.footer-center {
  background: #30bcac;
  width: 34px;
  height: 33px;
  border-radius: 50%;
  margin-left: 10px;
}
.footer-left {
  background: #30bcac;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
/* Finaliza modal para editar Products */
>>>>>>> 31f2aab4fcef573c21a4f168215d9875357f67fe
