.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}
.profile {
  width: 20%;
  height: 1024px;
}
.first-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
}
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.photo-profile {
  border-radius: 50%;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #ffff;
  height: 647px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 230px;
}
.dash-information {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-header {
  width: 1153.08px;
  height: 60px;
  background: #94d2bd;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 17px 8px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 45px;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
.photo-profileheader {
  border-radius: 50%;
}
.wrapper-services {
  width: 1153.08px;
}
.header-services {
  display: flex;
  margin-left: 49px;
  height: 50px;
  & h1 {
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 59px;
    line-height: 21px;
    /* or 36% */

    color: #212121;
  }
}
.add-newService {
  margin-left: 438px;
  background: #ffffff;
  border: 3px solid #49c1b3;
  border-radius: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  color: #49c1b3;
  width: 229px;
  height: 44px;
}

.wrapper-deck {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  align-items: center;
  margin-left: 89px;
  margin-top: 40px;
}
.card {
  width: 309px;
  height: 313px;
}
.card-body {
  display: flex;
}
.edit-pencil {
  margin-top: 80px;
  margin-left: 20px;
}
/* Aca  comienza en Toogle status para cambiar el estado */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 80px;
  margin-left: 20px;
}

.toggle-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  border-radius: 34px;
  background-color: #ccc;
  cursor: pointer;
}

.toggle-switch-label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label {
  background-color: #4caf50;
}

.toggle-switch-checkbox:checked + .toggle-switch-label:before {
  transform: translateX(26px);
}

.toggle-switch-text {
  font-size: 14px;
  color: #888;
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
}
/*aca termina el toogle*/
.footer {
  width: 100%;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 460px;

  &span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}

.boton-modal {
  background-image: url("../../imagenes/perfilCliente/pencil.png");
  cursor: pointer;
}
