.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}
.profile {
  width: 20%;
  height: 100%;
}
.first-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
}
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #f0feff;
  height: 61%;
  width: 100%;
  /* align-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 10px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 210px;
}
.dash-information {
  height: 1157px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-header {
  width: 1153.08px;
  height: 60px;
  background: #94d2bd;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 17px 8px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 45px;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
.wrapper-services {
  width: 1153.08px;
}
.header-services {
  display: flex;
  margin-left: 96px;
  margin-right: 126px;
  & h1 {
    padding: 0;
  }
}
.edit-create {
  margin-left: 499px;
}
.button-create {
  margin-left: 12px;
}
.wrapper-deck {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  align-items: center;
  margin-left: 89px;
  margin-top: 40px;
}
.card {
  width: 309px;
  height: 313px;
}
.footer {
  width: 1177px;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
  z-index: 2;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal__wrapper {
  margin: auto;
  width: 322px;
  height: 454px;
  background: #163756;
  box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  display: grid;
  /* gap: 1em; */
  place-items: center;
  /* grid-auto-columns: 100%; */
  transform: var(--transform);
  transition: var(--transition);
}
.modal__first {
  display: flex;
  flex-direction: column;
}
.modal__logoclose {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  padding-top: 11px;
  margin-right: 18px;
}
.modal__profile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 17px;
}
.modal__user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 11px;
}
.modal__data {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}
.moda__info {
  display: flex;
  flex-direction: column;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #cdbbc5;
  }
  & input {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.506922px;
    color: #ecf6fa;
    background: #1a333d;
    border-radius: 4px;
    width: 201px;
    height: 23px;
  }
}

.modal__close {
  text-decoration: none;
  color: #fff;
  /* background-color: #f26250; */
  /* padding: 1em 3em; */
  border: 1px solid;
  border-radius: 6px;
  /* display: inline-block; */
  font-weight: 300;
  transition: background-color 0.3s;
}

.modal__close:hover {
  color: #f26250;
  background-color: #fff;
}
.modal__button {
  background: #e9f0f3;
  border-radius: 10px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  width: 147px;
  height: 51px;
}
