.wrapper {
  width: 100%;
  height: 1024px;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(232, 232, 229, 1);
}
.profile {
  width: 20%;
  height: 100%;
}
/* navlist */
.first-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
  background: #2a9d8f;
  box-shadow: 14px -2px 18px rgba(0, 0, 0, 0.16);
}
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 14px;
}
.photo-profile {
  border-radius: 50%;
}
.profile-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7px;
  padding-right: 22px;
}
.user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-right: 7px;
}
.id {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 11px;
}
.second-seccion {
  background: #ffff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 32px;
  padding-top: 18px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #264653;
  padding-left: 8px;
}
.principal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: rgba(42, 45, 55, 0.6);
}
.list {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(42, 45, 55, 0.6);
  padding-left: 8px;
}
.sign-off {
  display: flex;
  margin-top: 125px;
}
.dash-information {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-header {
  width: 1153.08px;
  height: 60px;
  background: #94d2bd;
  border: 1px solid rgba(0, 0, 0, 0.27);
  box-shadow: 17px 8px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 45px;

  & img {
    margin-right: 54px;
    margin-top: 8px;
  }
}
.tittle-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #264653;
  padding-right: 17px;
  padding-top: 24px;
}
.photo-profileheader {
  border-radius: 50%;
}

/* Aca comienza el La lista de productos*/
.wrapper-products {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.subwrapper-products {
  width: 1075px;
  margin-left: 43px;
  display: flex;
  gap: 53px;
  justify-content: center;
  flex-direction: column;
}
.header-products {
  display: flex;
  align-items: center;
}
.tittle-products {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 21px;
  margin-right: 180px;
  width: 407px;
}
.wrapper-tableProducts {
  background: #ffffff;
}
.add-newProduct {
  margin-right: 50px;
  width: 225px;
  height: 44px;
  background: #ffffff;
  border: 3px solid #49c1b3;
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #49c1b3;
}
.add-newCategory {
  border: none;
  width: 225px;
  height: 44px;
  background: #75cac0;
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.header-table {
  display: flex;
  background: rgba(73, 193, 179, 0.71);
  height: 66px;
  align-items: center;
}
.search-product {
  margin-right: 400px;
}
.search {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 48px;
}
/* terrible combo */
.input-search {
  width: 410px;
  height: 32px;
  border-radius: 30px;
  padding-left: 15px;
}
.image-container {
  position: relative;
  display: inline-block;
}

.popup {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
}

.checkbox-overlay {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-overlay input[type="checkbox"] {
  margin-right: 10px;
}
/* Aca termina el terrible combo */
.text-filter {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

.tittle-table {
  display: flex;
  margin-top: 11px;
  flex-direction: column;
}
.tittle-textProduct {
  margin-left: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.tittle-textType {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-left: 90px;
}
.tittle-textPrice {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-left: 90px;
}
.tittle-textDescription {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-left: 180px;
}
.tittle-textAction {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-left: 180px;
}
.linea {
  width: 1000px;
  margin-bottom: 0;
}
.wrapper-table {
  overflow-y: scroll;
  height: 580px;
}
.dates-table {
  display: flex;
  align-items: center;
}
.image-product {
  margin-left: 50px;
}
.table-nameFood {
  width: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  color: rgba(156, 156, 156, 0.78);
}
.table-type {
  width: 100px;
  margin-left: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  color: rgba(156, 156, 156, 0.78);
}
.table-price {
  margin-left: 50px;
  width: 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  color: rgba(156, 156, 156, 0.78);
}
.table-description {
  width: 300px;
  margin-left: 80px;
  margin-right: 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  color: rgba(156, 156, 156, 0.78);
  margin-top: 10px;
  margin-bottom: 10px;
}
.image-delete {
  margin-right: 15px;
}
/* Aca termina el La lista de productos*/

.footer {
  width: 100%;
  height: 47px;
  background: #94d2bd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 95px;
  & span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
.copyrigth {
  margin-right: 22.5px;
}

/* comienza el terrible modal de perfil */

/* Inicia modal para editar Products */
.modal-wrapper {
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modals {
  padding: 0 40px;
  position: relative;
}
.modals > div {
  width: 920px;
  height: 654px;
  background: #f5f5f5;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.frame {
  background: #30bcac;
  width: 80px;
  height: 580px;
  position: absolute;
  z-index: -1;
}
.frame-1 {
  right: 5px;
  top: 0;
}
.frame-2 {
  left: 5px;
  bottom: 0;
}

.wrapper-headerModals {
  display: flex;
  align-items: center;
  width: 920px;
  height: 72px;
  margin-left: 10px;
}
.only-circle {
  display: flex;
  width: 50px;
  height: auto;
  flex-direction: column;
  margin-right: 186px;
  align-items: flex-start;
  justify-content: flex-start;
}
.circle-rigth {
  background: #30bcac;
  display: flex;
  border-radius: 50%;
  width: 15px;
  margin-left: 30px;
  height: 15px;
}
.circle-center {
  border-radius: 50%;
  background: #30bcac;
  width: 34px;
  height: 33px;
  display: flex;
}
.circle-left {
  background: #30bcac;
  border-radius: 50%;
  width: 15px;
  display: flex;
  height: 15px;
  margin-top: 9px;
}

.title-newProduct {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #30bcac;
  width: 461px;
  height: 21px;
  margin: 0;
}
.close {
  margin-left: 150px;
}
.wrapper-bodyModals {
  display: flex;
  margin-left: 78px;
  margin-top: 46px;
  height: 420px;
  width: 778px;
}
.photos-Modals {
  width: 330px;
  height: 100%;
}
.image-modals {
  width: 100%;
  height: auto;
}
.image-modals > img {
  width: 100%;
}

.update-photos {
  background: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.text-updatePhoto {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

.formu-modals {
  display: flex;
  margin-left: 58px;
  width: 395px;
  flex-direction: column;
}
.first-group {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: baseline;
}
/* .label-reuse {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  color: rgba(57, 57, 57, 0.78);
} */
.text-nameProduct {
  background: #ffffff;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #df2573;
  width: 368px;
  height: 51px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
}
.second-group {
  display: flex;
  margin-top: 26px;
}
/* .group-selects {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: baseline;
  margin-right: 30px;
} */
/* .selectProdcuts {
  background: #ffffff;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #df2573;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 179px;
  height: 55px;
} */
.group-text {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: baseline;
}
.text-namePrice {
  background: #ffffff;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #df2573;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  width: 368px;
  height: 51px;
}
.thirds-group {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: baseline;
  margin-top: 17px;
}
.text-descriptionProduct {
  background: #ffffff;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #df2573;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  width: 368px;
  height: 139px;
  padding-top: 20px;
  resize: none;
}
.footer-modals {
  display: flex;
  margin-top: 30px;
}
.add-button {
  width: 363px;
  height: 64px;
  background: #30bcac;
  border-radius: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.78);
  margin-left: 300px;
}
.footer-circle {
  display: flex;
  flex-direction: column;
  margin-left: 201px;
}
.footer-rigth {
  background: #30bcac;
  width: 15px;
  border-radius: 50%;
  height: 15px;
  margin-left: 25px;
  margin-bottom: 5px;
}
.footer-center {
  background: #30bcac;
  width: 34px;
  height: 33px;
  border-radius: 50%;
  margin-left: 10px;
}
.footer-left {
  background: #30bcac;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
/* Finaliza modal para editar Products */
